/*首页*/
.firstPage{ width:100%; padding:0 20px 40px; overflow:hidden;}
.firstPage li{ width:100%; border-bottom:1px solid #cccaca; margin-bottom:40px;}
.firstPage li a{ width:100%; display:block; height:100%;}
.firstPage_p1{ width:100%; height:533px; display:block;}
.firstPage_d{ width:100%; padding-left:20px;}
.firstPage_d_p1{ font-size:24px; color:#be0d23; padding:30px 0 10px; }
.firstPage_d_p2{ font-size:30px; color:#000; font-family: 'English'; padding-bottom:14px; font-weight:bold; }
.firstPage_d_p3{ font-size:24px; color:#888; line-height:38px; margin-bottom:26px; height:76px; overflow:hidden; text-overflow: ellipsis;  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.firstPage_li2 .firstPage_p1 { position:relative; }
.firstPage_li2 .firstPage_p1 span{ position:absolute; top:0; left:0; width:100%; height:533px; background:rgba(0,0,0,0.4) url(../images/ku2/shou_07.png) no-repeat center;}

/*新闻列表*/
.newsList{ width:100%; background:#fff; padding:0 20px; margin:20px 0 6px; overflow:hidden; }
.newsList li{ width:100%; padding:40px 0 30px; overflow:hidden; border-bottom:1px solid #cccccc;}
.newsList li a{ width:100%; display:block; height:100%; overflow:hidden;}
.newsList_img{ width:291px; height:212px; float:left;}
.newsList_d{ float:right; width:400px;}
.newsList_d_p1{ font-family: 'English'; font-size:20px; color:#be0d23; line-height:24px; }
.newsList_d_p2{ font-size:32px; color:#000; line-height:40px; margin:6px 0;}
.newsList_d_p2 span{ font-family: 'English';  }
.newsList_d_p3{  font-family: 'English'; font-size:20px; color:#afafaf; line-height:30px;}
.newsList_d_p4{ font-size:26px; line-height:30px; color:#888888; height:60px; margin-top:6px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box;
-webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/*视频列表*/
.videoList{ width:100%; padding:0 20px; margin-top:30px;}
.videoList_d{ width:100%; height:400px; margin-bottom:40px; position:relative;}
.videoList_d_img{ width:100%; height:400px; display:block;} 
.videoList_d_span{ background:url(../images/ku2/shou_07.png) no-repeat; width:66px; height:76px; left:50%; top:50%; margin-left:-33px; margin-top:-38px; display:inline-block; position:absolute;}
.videoList_d_p{ position:absolute; bottom:0; left:0; width:100%; font-size:30px; line-height:112px; padding-left:17px; color:#fff; height:90px; background:url(../images/ku2/video_03.png) repeat-x;}
.videoList_h3{ font-style:normal; overflow:hidden;}
.videoList_h3 a{ margin-right:34px; float:left; line-height:76px; font-size:36px; color:#888888; overflow:hidden;}
.videoList_h3 a.cur{ color:#be0d23; border-bottom:2px solid #be0d23;}
.videoList_ul{ overflow:hidden; width:100%; margin-top:34px;}
.videoList_ul li{ width:100%;}
.videoList_ul li a{ width:100%; display:block; height:100%;}
.videoList_ul_img{ width:100%; height:402px; display:block;}
.videoList_ul_p{ height:106px; line-height:90px; font-size:38px; color:#000; padding-left:18px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

/*专题*/
.specialTopic{ overflow:hidden; width:100%;}
.specialTopic_d{ width:100%; height:293px; overflow:hidden; margin-bottom:40px;}
.specialTopic_d img{ width:100%; height:293px;}
.specialTopic_d .swiper-pagination-bullet { width: 25px; height: 2px; display: inline-block; background:#838281; opacity:1; border-radius:0; }
.specialTopic_d .swiper-pagination-bullet-active {background: #be0d23;}
.specialTopic_ul{ width:100%; padding:0 20px; overflow:hidden;}
.specialTopic_ul li{ width:100%; background:#fff; box-shadow:3px 3px  10px rgba(0,0,0,0.3); margin-bottom:40px; }
.specialTopic_ul li a{ width:100%; display:block; height:100%;}
.specialTopic_ul_img{ width:100%; height:445px; display:block;}
.specialTopic_ul_d{ padding:30px 20px 37px;}
.specialTopic_ul_p1{ font-size:38px; color:#000; height:40px; line-height:40px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box;
-webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.specialTopic_ul_p2{ font-size:24px; color:#ababab; height:80px; line-height:40px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box;
-webkit-line-clamp: 2; -webkit-box-orient: vertical; margin-top:20px; }

/*搜索*/
.search_d{ padding:14px 36px 35px; overflow:hidden;}
.search_d_d_i1{ width:506px; float:left; height:60px; line-height:60px; padding-left:25px; font-size:22px; color:#a3a2a2; border-radius:30px 0 0 30px; border:none; background:#e7e6e6;}
.search_d_d_i2{ width:72px; float:left; height:60px; line-height:60px; text-align:center; font-size:36px; color:#a3a2a2; border-radius:0 30px 30px 0; border:none; background:#e7e6e6; margin-left:-1px; }
.search_d_s{ line-height:60px; font-size:36px; color:#9f9f9f; padding-left:28px;}
.search_ul{ overflow:hidden; padding:0 20px; }
.search_ul li{ width:100%; margin-bottom:50px; border-bottom:1px solid #cccccc; }
.search_ul li a{ width:100%; display:block; height:100%;}
.search_ul_p1{ font-family: 'English'; font-size:20px; color:#be0d23; line-height:24px; margin-top:28px; }
.search_ul_p2{ font-size:32px; color:#000; margin:22px 0 20px;}
.search_ul_p2 span{ font-family: 'English';  }
.search_ul_p3{  font-family: 'English'; font-size:20px; color:#afafaf; line-height:24px; margin-bottom:20px;}

/*digger*/
.digger_ban{ width:100%; height:317px; overflow:hidden; background:url(../images/ku2/digger_02.png) no-repeat;}
.digger_ban_p1{ text-align:center; font-size:36px; color:#fff; font-family: 'English'; margin-top:125px;}
.digger_ban_p1 span{ font-family: 'digger'; font-weight:bold; }
.digger_ban_p2{ text-align:center; font-size:20px; color:#fff; margin-top:10px;}
.digger_ban_p2 span{ text-align:center;}
.digger_d_d h5{ width:130px; height:auto; color:#363636; font-size:32px; padding-bottom:10px; border-bottom:3px solid #b41d24; margin-left:311px; font-weight:normal; margin-bottom:25px; margin-top:35px;}
.digger_d_d .c1_p1{ text-align:center; line-height:40px; font-size:24px; color:#999999;}
.digger_ul{ overflow:hidden; margin-top:30px; }
.digger_ul li{ width:450px; margin:0 auto; position:relative; }
.digger_ul li a{ width:100%; display:block; height:100%; }
.digger_ul .xia{width:100%; height:107px; padding-top:30px;  }
.digger_ul .xia .zuo{ width:272px; float:left; margin-left:10px; margin-right:34px; font-family: 'English'; font-size:40px; color:#363636; line-height:44px;}
.digger_ul .xia .zuo span{ font-family: 'digger'; font-weight:bold;}
.digger_ul .xia .you{ width:134px; float:left; line-height:58px; font-size:24px;font-family: 'number';  }
.digger_ul_img{ position:absolute; width:67px; height:67px; top:548px; right:8px; display:none;}
.digger_ul_img.cur{ display:block;}













