@import 'style.scss';

section.articleLi{
	ul.articleLilist{
		width: 100%;
		padding: 30px  0 55px 55px;
		>li{
			margin-top: 30px;

			>a{
				padding-right:55px;
				display: block;
				div.imgC{
					float: left;
					width: 325px;
					height: 190px;
					overflow: hidden;
					>img{
						max-width: 100%;
					}
				}
				div.word{
					float: right;
					width: 640px;
					padding-top: 15px;
					>h3{
						font-size: 20px;
						color: $zhutiColor;
						text-transform: uppercase;
					}
					>p{
						font-size: 18px;
						color: #999;
						word-wrap:break-word;
						line-height: 22px;
						margin-top: 15px;
						height: 107px;
						overflow: hidden;
					}
				}
			}
			>a:hover{
				background-color: #f1f1f1;
			}
		}
	}
}



section.article{
	padding-top:70px;
	padding-bottom:70px;
	div.bacnner{
		width: 100%;
		img{
			max-width: 100%;
			display: block;
			margin:0 auto;
		}
	}
	h2{
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 30px;
	}
	div.dateinfo{
		margin-top: 20px;
		line-height: 40px;
		i{
			color: #999;
		}
		span{
			color: $zhutiColor;
			font-size: 26px;
			margin-left: 10px;
		}
	}
	div.info{
		font-size: 22px;
		color: #999;
		line-height:50px;
		// font-weight: bold;
		>p{
			margin-top: 30px;
		}

	}
}



	a.DOCUL{
		display: block;
		float: left;
		margin-right: 76px;
		margin-top: 50px;
		width: 230px;
		height: 303px;
		padding-top:40px;
		text-align: center;
		margin-left: 1px;
		background-color: #fff;
		position: relative;
		border:1px solid $zhutiColor;
		z-index: 2;
		div.posback{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 0;
			background-color: $zhutiColor;
			transition: all 0.3s;

		}
		div.head{
			font-size: 20px;
			color: #000;
			font-weight: bold;
			transition: all 0.3s;

		}
		div.icon{
			margin-top: 30px;
			>i{
				font-size: 50px;
				color: $zhutiColor;	
				transition: all 0.3s;

			}
		}
		p{
			margin-top: 36px;
			color: #999;
			transition: all 0.3s;
			word-wrap: break-word;
			padding: 0 8px;

		}
		
	}
	a.DOCUL:nth-child(4n){margin-right:0;}
	a.DOCUL:hover{
		div.posback{
			height: 100%;
		}
		div.head{
			color: #fff;
		}
		div.icon{
			>i{
				color: #fff;	
			}
		}
		p{
			color: #fff;
		}
		
	}

