<header id="headerPublic" class="clearfloat">

	<a href="{:url('index/index/index')}" class="logo"><img
		src="{:get_root()}/static/index/mobile/images/public/logo.png"></a>
		{notempty name='category'}
			{empty name='type'}
				<span class="title"><span class="cn">{$category.title}</span><br/><span class="en">{$category.name}</span></span>
			{/empty}
		{/notempty}
	<div class="but clearfloat">
		<a class="nav" href="javascript:void(0);"><i class="iconfont">&#xe648;</i></a>
		<a class="suo" href="javascript:void(0);"><i class="iconfont" style="font-size: 50px">&#xe63c;</i></a>
	</div>
	<form class="search clearfloat" id="Indsearch" role="search"
		method="get" action="{:url('index/content/search')}">

		<div class="inputC">

			<input id="SearchInupt" type="text" placeholder="Jordan brand "
				name="q">
			<button class="iconC" type="button" id="showSearch">
				<i class="iconfont">&#xe63c;</i>
			</button>
		</div>
		<div class="txit">取消</div>
	</form>
</header>
<section class="pubnavCon" id="pubnavCon">
	<div class="nav">
		{content:category tree='1' return='data'/}
		<ul class="NaOne">
             {foreach name='data' item='vo'}
                   {notempty name='vo.rows'}
                       <li class="ind">
							<a href="{$vo.url}">{$vo.title}</a>
							<div class="jian"></div>
							<ul class="NaTwo">
								{foreach name='vo.rows' item='sub'}
                               <li class="ind">
									<a href="{$sub.url}">{$sub.title}</a>
									<div name='news_sub'  {if ($vo.title == '新闻')}data-id='{$sub.id}' class="jian" {/else}data-id=''{/if}  url="{$sub.url}" ></div>
								</li>
                               {/foreach}
							</ul>
						</li>
                   {else /}
                       <li><a href="{$vo.url}">{$vo.title}</a></li>
                   {/notempty}
               {/foreach}
		</ul>
	</div>
</section>
