<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1.0"/>
	<title>{notempty name='category'}{$category.title} {else /}首页{/notempty}</title>
    <link rel="shortcut icon" href="{:get_root()}/favicon.ico" type="image/x-icon" /> 
    <script type="text/javascript" src="{:get_root()}/static/index/mobile/js/Adaptive/Adaptive.js"></script>
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/mobile/css/swiper3.06.min.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/mobile/css/style.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/mobile/css/index.css">
	<script type="text/javascript" src="{:get_root()}/static/index/js/home.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/jquery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/navFun.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/menu_tag.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/index.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/swiper/swiper.min.js"></script>
	<!-- <script type="text/javascript" src="{:get_root()}/static/index/mobile/js/underscore.js "></script> 
	<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/pinchzoom.js"></script> -->
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> 
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?ed8ac418ac5e06a8c76d9a39d00132c8";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>