<div class="form-group">
    <label for="verify" class="col-sm-2 control-label">
        验证码
    </label>
    <div class="col-sm-10" id="verify_container">
        <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码">
        <script>
            $(function() {
                $('#verify').focus(function(event) {
                    if (!$('#verify_img').length) {
                        $('#verify').before('<img class="img-rounded img-verify" width="200" id="verify_img" onclick="EBCMS.FN.change_verify(\'#verify_img\');" src="{:url('index/api/verify')}" alt="验证码" title="点击更换验证码">')
                    }
                    $('#verify_img').css({
                        top: $("#verify").position().top-$('#verify_img').height()-2,
                    });
                    $('#verify_img').show();
                });
                $('#verify_container').hover(function() {
                    $('#verify_img').show();
                }, function() {
                    $('#verify_img').hide();
                });
            });
        </script>
    </div>
</div>