<script type="text/javascript" src="{:get_root()}/third/artTemplate/template.js"></script>
{if condition="session('?user_id') || ebconfig('content.comment_visitor')"}
    <form action="" id="comment_form" onsubmit="return EBCMS.CONTENT.comment();">
        <textarea class="form-control" rows="5" name="content" placeholder="请遵守当地法律法规！"></textarea>
        <br>
        <div class="row">
            {if condition="ebconfig('content.comment_verify')==1  || (!session('?user_id') && ebconfig('content.comment_visitor_verify'))"}
            <div class="col-sm-8" id="comment_verify_container">
                <input type="text" name="verify" class="form-control" id="comment_verify" placeholder="请输入验证码">
                <script>
                    $(function() {
                        $('#comment_verify').focus(function(event) {
                            if (!$('#comment_verify_img').length) {
                                $('#comment_verify').before('<img class="img-rounded img-verify" width="200" id="comment_verify_img" onclick="EBCMS.FN.change_verify(\'#comment_verify_img\');" src="{:url('index/api/verify')}" alt="验证码" title="点击更换验证码">')
                            }
                            $('#comment_verify_img').show();
                        });
                        $('#comment_verify_container').hover(function() {
                            $('#comment_verify_img').show();
                        }, function() {
                            $('#comment_verify_img').hide();
                        });
                    });
                </script>
            </div>
            {/if}
            <div class="col-sm-4">
                <div class="hidden-sm hidden-md hidden-lg" style="height:15px;"></div>
                <button type="submit" class="btn btn-danger pull-right">提交</button>
            </div>
        </div>
        <input type="hidden" name="tid" value="{$content.id}">
    </form>
    <script>
        $(function(){
            EBCMS.CONTENT.comment = function(){
                $.ajax({
                    url: '{:url('index/comment/add')}',
                    type: 'POST',
                    dataType: 'json',
                    data: $('#comment_form').serialize(),
                    success:function(data){
                        if (data.code) {
                            $('#comment_form textarea').val('');
                            $('#comment_verify').val('');
                            EBCMS.CONTENT.param.page = 1;
                            EBCMS.CONTENT.reloadcomment();
                        }else{
                            alert(data.msg);
                        }
                        EBCMS.FN.change_verify('#comment_verify_img');
                    }
                });
                return false;
            };
        });
    </script>
{else /}
    <div class="alert alert-danger" role="alert">
        <p class="text-center">请登录！</p>
    </div>
{/if}
<hr>
<h2>评论</h2>
<hr>
<style>
    .media{
        border: 1px solid #ddd;
        padding: 10px;
    }
</style>
<div id="comments"></div>
<div id="comments_tips" class="alert text-center"></div>
<script>
    $(function(){
        template.config('openTag', '[[');
        template.config('closeTag', ']]');
        EBCMS.CONTENT.param = {
            page:1,
            size:5,
            tid:'{$content.id}',
        };
        EBCMS.CONTENT.loading = 0;
        EBCMS.CONTENT.reloadcomment = function(){
            $('#reply_media').appendTo('#reply_form_contain');
            EBCMS.CONTENT.param.page=1;
            $('#comments').html('');
            EBCMS.CONTENT.loadcomment();
        };
        EBCMS.CONTENT.loadcomment = function(page){
            if (page) {
                $('#reply_media').appendTo('#reply_form_contain');
                $.ajax({
                    url: '{:url('index/comment/index')}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        page:page,
                        size:EBCMS.CONTENT.param.size,
                        tid:EBCMS.CONTENT.param.tid,
                    },
                    success:function(res){
                        if (res.code) {
                            var coms = template('comment-item', {
                                rows:EBCMS.FN.array2tree(res.data.comments.data.concat(res.data.subcomments))
                            });
                            $('#comment_page_'+page).html(coms);
                        }else{
                            alert(res.msg);
                        }
                    }
                });
                return false;
            }else{
                if (EBCMS.CONTENT.loading == 0) {
                    EBCMS.CONTENT.loading = 1;
                    $('#reply_media').appendTo('#reply_form_contain');
                    $('#comments_tips').html('加载中。。。');
                    $.ajax({
                        url: '{:url('index/comment/index')}',
                        type: 'POST',
                        dataType: 'json',
                        data: EBCMS.CONTENT.param,
                        success:function(res){
                            if (res.code) {
                                if (res.data.comments.data.length) {
                                    var coms = template('comment-item', {
                                        rows:EBCMS.FN.array2tree(res.data.comments.data.concat(res.data.subcomments))
                                    });
                                    $('#comments').append('<div class="comment_page" data-page="'+EBCMS.CONTENT.param.page+'" id="comment_page_'+EBCMS.CONTENT.param.page+'">'+coms+'</div>');
                                    EBCMS.CONTENT.param.page += 1;
                                    $('#comments_tips').html('');
                                }else{
                                    EBCMS.CONTENT.loadover = 1;
                                    $('#comments_tips').html('没有更多了');
                                }
                            }else{
                                alert(res.msg);
                            }
                            EBCMS.CONTENT.loading = 0;
                        }
                    });
                }
                return false;
            }
        };
        EBCMS.CONTENT.reply = function(id){
            $('#reply_id').val(id);
            if ($('#comment_id_'+id+' .media-body:eq(0) > p #reply_media').length) {
                $('#reply_media').toggle();
            }else{
                $('#reply_media').appendTo('#comment_id_'+id+' .media-body:eq(0) > p').show();
            }
        };
        EBCMS.CONTENT.replysubmit = function(){
            $.ajax({
                url: '{:url('index/comment/reply')}',
                type: 'POST',
                dataType: 'json',
                data: $('#reply_form').serialize(),
                success:function(data){
                    if (data.code) {
                        $('#reply_form textarea').val('');
                        $('#reply_verify').val('');
                        /*获取当前页page*/
                        var reply_id = $('#reply_id').val();
                        var c = $('#comment_id_'+reply_id).parents('div.comment_page')[0];
                        var page = $(c).data('page');
                        EBCMS.CONTENT.loadcomment(page);
                    }else{
                        alert(data.msg);
                    }
                    EBCMS.FN.change_verify('#reply_verify_img');
                }
            });
            return false;
        };
        // 若不要瀑布流滚动触发加载，可自行改用其他事件触发加载。。
        $(document).scroll(function(){
            if ($(document).scrollTop()>=$(document).height()-$(window).height()) {
                if (EBCMS.CONTENT.loadover != 1) {
                    EBCMS.CONTENT.loadcomment();
                }
            };
        });
    });
</script>
<script id="comment-item" type="text/html">
    [[each rows as v n]]
        <div class="media" id="comment_id_[[v.id]]">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="{:get_root()}/static/index/image/avatar.gif" width="40" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">[[if v.status == 1]]<button class="btn btn-xs btn-default pull-right" style="cursor:pointer;" onclick="EBCMS.CONTENT.reply('[[v.id]]');">回复</button>[[/if]][[if v.user.nickname]][[v.user.nickname]][[else /]]游客[[/if]][[if v.touser.nickname]] 回复 [[v.touser.nickname]][[/if]]</h4>
            [[if v.status == 1]]<p>[[v.content]]</p>[[else if v.status == 99]]<p class="text-danger">审核中...</p> [[else]] <p class="text-danger">已屏蔽！</p>[[/if]]
            [[if v.rows]]
                [[include 'comment-item' v]]
            [[/if]]
          </div>
        </div>
    [[/each]]
</script>
<div id="reply_form_contain" style="display:none;">
    <div class="media" id="reply_media" style="margin-top:20px;">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{:get_root()}/static/index/image/avatar.gif" width="40" alt="...">
        </a>
      </div>
      <div class="media-body">
        {if condition="session('?user_id') || ebconfig('content.comment_visitor')"}
        <form action="" id="reply_form" onsubmit="return EBCMS.CONTENT.replysubmit();">
            <textarea class="form-control" rows="3" name="content" placeholder="请遵守当地法律法规！"></textarea>
            <br>
            <div class="row">
                {if condition="ebconfig('content.comment_verify')==1 || (!session('?user_id') && ebconfig('content.comment_visitor_verify'))"}
                <div class="col-sm-8" id="reply_verify_container">
                    <input type="text" name="verify" class="form-control" id="reply_verify" placeholder="请输入验证码">
                    <script>
                        $(function() {
                            $('#reply_verify').focus(function(event) {
                                if (!$('#reply_verify_img').length) {
                                    $('#reply_verify').before('<img class="img-rounded img-verify" width="200" id="reply_verify_img" onclick="EBCMS.FN.change_verify(\'#reply_verify_img\');" src="{:url('index/api/verify?id=2')}" alt="验证码" title="点击更换验证码">')
                                }
                                $('#reply_verify_img').show();
                            });
                            $('#reply_verify_container').hover(function() {
                                $('#reply_verify_img').show();
                            }, function() {
                                $('#reply_verify_img').hide();
                            });
                        });
                    </script>
                </div>
                {/if}
                <div class="col-sm-4">
                    <div class="hidden-sm hidden-md hidden-lg" style="height:15px;"></div>
                    <button type="submit" class="btn btn-danger pull-right">提交</button>
                </div>
            </div>
            <input type="hidden" name="reply_id" id="reply_id" value="">
        </form>
      {else /}
          <div class="alert alert-danger">请登录</div>
      {/if}
      </div>
    </div>
</div>