<!DOCTYPE html><html lang="zh-CN">{include file='common/head' /}<body>{include file='common/header' /}
		<section id="Max_Con" style="background-color: #f4f4f4;">

			<div class="calendar" id="MyCalendar">
				<div class="year" id="Year">
					<div class="ll"><i class="iconfont">&#xe61f;</i></div>
					<div class="befoer">2016</div>
					<div class="center">2017</div>
					<div class="after">2018</div>
					<div class="rr"><i class="iconfont">&#xe624;</i></div>
				</div>

								<div class="month" id="Month">					<div class="head">						<span class="ll"><i class="iconfont">&#xe61f;</i></span>						<span class="Monthind">12</span><span>月</span>						<span class="rr"><i class="iconfont">&#xe624;</i></span>					</div>					<ul class="nav clearfloat">						<li>日</li>						<li>一</li>						<li>二</li>						<li>三</li>						<li>四</li>						<li>五</li>						<li>六</li>					</ul>					<ul class="monthCobn clearfloat"></ul>				</div>			</div>			<div class="sellint">
				<div class="sellCn">
					<ul class="selllist" id="SellLs">
						<!-- <li>
							<div class="Time"><span class="yuan"><span class="dian"></span></span> <div class="Con">2016.12.12</div></div>
							<ul class="SellLsCnNi clearfloat">

							</ul>
						</li>

						<li>
							<div class="Time"><span class="yuan"><span class="dian"></span></span> <div class="Con">2016.12.12</div></div>
							<ul class="SellLsCnNi clearfloat">

							</ul>
						</li> -->
					</ul>
				</div>
			</div>

			{include file='common/footer' /}
		</section>
		<script type="text/javascript" src="{:get_root()}/static/index/mobile/js/calendar/calendar.js"></script>