{php}$namespace=ns();{/php}
<div class="layout">
    <div class="layout-left" id="{$namespace}_left" style="width: 40%;margin-right: -40%;">
        <div class="box" id="{$namespace}_box"></div>
    </div>
    <div class="layout-rightbox">
        <div class="layout-right" id="{:ns('extendfield')}_left" style="height:100%;overflow:auto;margin-left: 40%;">
            <div class="box" id="{:ns('extendfield')}_box"></div>
        </div>
    </div>
</div>
{include file='extend/extend'/}
{include file='extend/extendfield'/}