{php}
$namespace=ns();
{/php}
<script>
    Namespace.register("EBCMS.{$namespace}");
    $(function(){
        EBCMS.{$namespace}.queryParams = {
            order:{
                'sort':'desc',
            },
            model:'forms/forms',
        };
        EBCMS.{$namespace}.refresh = function refresh(p){
            if (p) {
                $.each(p, function(index, val) {
                    if (typeof val == 'object') {
                        EBCMS.{$namespace}.queryParams[index] = $.extend(EBCMS.{$namespace}.queryParams[index], p[index]);
                        delete p[index];
                    };
                });
                $.extend(EBCMS.{$namespace}.queryParams, p);
            };
            EBCMS.CORE.api({
                queryParams: EBCMS.{$namespace}.queryParams,
                tpl:'{$namespace}-table',
                target:'#{$namespace}_table',
                compileAfter:function(data){
                    $('#{$namespace}_table').find('.input_sort').focus(function(){
                        EBCMS.{$namespace}.sortvalue = $(this).val();
                    }).blur(function(){
                        var $this = $(this);
                        if ($this.val() != EBCMS.{$namespace}.sortvalue) {
                            EBCMS.ACT.togglefield('{:url('forms/resort')}',$this.data('id'),$this.val(),'{$namespace}','resort');
                        };
                    });
                    $('#{$namespace}_table').find('tr').bind('click', function(event) {
                        $(this).addClass('warning').siblings('tr').removeClass('warning');
                    });
                    EBCMS.FN.renderFilter({
                        namespace:'{$namespace}',
                        filter:{
                            search:{
                                field:'title|remark',
                                value:''
                            },
                        }
                    });
                },
            });
        };
        EBCMS.{$namespace}.edit = function edit(id){
            EBCMS.CORE.get({
                url:'{:url('forms/edit')}',
                queryParams:{
                    id:id,
                },
                target:'#lgModal .modal-content',
            });
        };
        EBCMS.{$namespace}.add = function add(){
            EBCMS.CORE.get({
                url:'{:url('forms/add')}',
                target:'#lgModal .modal-content',
            });
        };
        EBCMS.{$namespace}.change_forms = function change_forms(forms_id){
            EBCMS.{$namespace}.forms_id = forms_id;
            EBCMS.CORE.compile({
                tpl:'{:ns('formsfield')}-box',
                target:'#{:ns('formsfield')}_box',
                compileAfter:function(){
                    EBCMS.{:ns('formsfield')}.refresh({
                        where:{
                            forms_id:['eq',forms_id]
                        }
                    });
                }
            });
        };
        EBCMS.CORE.compile({
            tpl:'{$namespace}-box',
            target:'#{$namespace}_box',
            compileAfter:function(){
                EBCMS.{$namespace}.refresh();
            }
        });
    });
</script>

<script id="{$namespace}-box" type="text/html">
    <div class="header">
        <div class="footer-page" id="{$namespace}_filter"></div>
        <div class="header-title" onclick="EBCMS.{$namespace}.refresh();">万能表单管理</div>
        <div class="btn-group">
            <button class="btn btn-primary" onclick="EBCMS.{$namespace}.add();">添加</button>
        </div>
    </div>
    <div class="body" style="bottom:0px;">
        <div class="box" id="{$namespace}_table"></div>
    </div>
</script>

<script id="{$namespace}-table" type="text/html">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-ebcms">
            <tbody>
                <tr>
                    <th style="width:200px;">操作</th>
                    <th>标题</th>
                    <th>名称</th>
                    <th>排序</th>
                    <th style="width:50px;">管理</th>
                </tr>
                [[include '{$namespace}-table-item' data]]
            </tbody>
        </table>
    </div>
</script>

<script id="{$namespace}-table-item" type="text/html">
    [[each rows as v n]]
        <tr>
            <td>
                <div class="btn-group btn-group-sm">
                [[if access('{:mca('lock')}',0)]]
                    [[if v.locked==1]]
                    <button class="btn btn-primary" onclick="EBCMS.ACT.lock('{:url('forms/lock')}','[[v.id]]','0','{$namespace}');">已锁</button>
                    [[else]]
                    <button class="btn btn-primary" onclick="EBCMS.ACT.lock('{:url('forms/lock')}','[[v.id]]','1','{$namespace}');">未锁</button>
                    [[/if]]
                [[/if]]
                [[if access('{:mca('status')}',v.locked)]]
                    [[if v.status==1]]
                    <button class="btn btn-primary" onclick="EBCMS.ACT.status('{:url('forms/status')}','[[v.id]]','0','{$namespace}');">已审</button>
                    [[else]]
                    <button class="btn btn-warning" onclick="EBCMS.ACT.status('{:url('forms/status')}','[[v.id]]','1','{$namespace}');">未审</button>
                    [[/if]]
                [[/if]]
                [[if access('{:mca('edit')}',v.locked)]]
                <button class="btn btn-primary" onclick="EBCMS.{$namespace}.edit('[[v.id]]');">编辑</button>
                [[/if]]
                [[if access('{:mca('delete')}',v.locked)]]
                <button class="btn btn-primary" onclick="EBCMS.ACT.del('{:url('forms/delete')}','[[v.id]]','{$namespace}');">删除</button>
                [[/if]]
                </div>
            </td>
            <td>[[v.title]]</td>
            <td>[[v.name]]</td>
            <td><input value="[[v.sort]]" class="form-control input-sm input_sort" data-id="[[v.id]]"></td>
            <td>
                <div class="btn-group btn-group-sm">
                [[if access('{:mca('index','formsfield')}',v.locked)]]
                <button class="btn btn-primary" onclick="EBCMS.{$namespace}.change_forms('[[v.id]]');">管理</button>
                [[/if]]
                </div>
            </td>
        </tr>
    [[/each]]
</script>