@import url(public.css);
@import "http://at.alicdn.com/t/font_m3in82xwdlgl23xr.css";
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

.clearfloat {
  zoom: 1; }

.centerCon {
  width: 1160px;
  margin: 0 auto;
  position: relative; }

section#goTop {
  position: fixed;
  bottom: 170px;
  right: 30px;
  width: 64px;
  text-align: center;
  z-index: 99;
  display: none; }
  section#goTop a.icon {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background-color: #82b541;
    line-height: 60px; }
    section#goTop a.icon > i {
      font-size: 30px;
      color: #fff; }
  section#goTop p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8); }

header#header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: relative; }

div.HeadSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none; }
  div.HeadSearch div.form {
    float: right;
    width: 530px;
    padding-top: 30px;
    padding-right: 130px;
    position: relative; }
    div.HeadSearch div.form > input {
      width: 100%;
      height: 50px;
      border: 2px solid #fcc800;
      padding-left: 15px;
      font-size: 18px;
      padding-right: 15px; }
    div.HeadSearch div.form div.but {
      width: 120px;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 30px;
      right: 0;
      background-color: #fcc800; }

.headerCon {
  height: 100%;
  position: relative; }
  .headerCon a.logo {
    display: block;
    width: 350px;
    height: 100%;
    float: left; }
  .headerCon nav.InOneNav {
    float: right;
    height: 100%;
    padding-top: 25px; }
    .headerCon nav.InOneNav ul.action {
      height: 30px;
      float: right; }
      .headerCon nav.InOneNav ul.action > li {
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 17px; }
        .headerCon nav.InOneNav ul.action > li > a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 26px;
          border-radius: 50%;
          border: 2px solid #fcc800;
          text-align: center; }
          .headerCon nav.InOneNav ul.action > li > a > i {
            font-size: 14px;
            color: #fcc800; }
        .headerCon nav.InOneNav ul.action > li > a:hover {
          border: 2px solid #82b540; }
          .headerCon nav.InOneNav ul.action > li > a:hover > i {
            color: #82b540; }
    .headerCon nav.InOneNav ul.navList {
      height: 50px;
      clear: both; }
      .headerCon nav.InOneNav ul.navList > li {
        float: left;
        height: 100%;
        padding: 0 13px; }
        .headerCon nav.InOneNav ul.navList > li > a {
          display: block;
          padding-top: 8px;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          line-height: 30px;
          font-size: 14px;
          position: relative;
          color: #555;
          font-weight: bold; }
        .headerCon nav.InOneNav ul.navList > li > a:after {
          content: '';
          width: 100%;
          height: 3px;
          background-color: transparent;
          position: absolute;
          bottom: 12px;
          left: 0; }
      .headerCon nav.InOneNav ul.navList > li:hover > a, .headerCon nav.InOneNav ul.navList li.active > a {
        color: #fcc800; }
      .headerCon nav.InOneNav ul.navList > li:hover > a:after, .headerCon nav.InOneNav ul.navList li.active > a:after {
        background-color: #fcc800; }
  .headerCon div.naTwoWai {
    width: 925px;
    height: 0px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden; }
  .headerCon div.active {
    height: 425px;
    opacity: 1; }
  .headerCon ul.NavHDlst {
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #efea5f;
    border-left: 5px solid #efea5f;
    border-right: 5px solid #efea5f;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 0 0 4px 4px; }
    .headerCon ul.NavHDlst > li {
      width: 100%;
      height: 100%;
      display: none; }
      .headerCon ul.NavHDlst > li div.LCn {
        width: 440px;
        height: 100%;
        text-align: center;
        padding: 0 115px;
        float: left; }
        .headerCon ul.NavHDlst > li div.LCn div.head {
          font-size: 22px;
          font-weight: bold;
          color: #555555;
          text-transform: uppercase;
          line-height: 40px; }
        .headerCon ul.NavHDlst > li div.LCn div.imgC {
          margin-top: 40px; }
          .headerCon ul.NavHDlst > li div.LCn div.imgC > img {
            max-width: 100%; }
        .headerCon ul.NavHDlst > li div.LCn p {
          color: #999999;
          font-size: 12px;
          line-height: 22px;
          font-weight: bold; }
      .headerCon ul.NavHDlst > li ul.naNoe {
        height: 100%;
        width: 255px;
        background-color: #cce1b1;
        padding-top: 13px;
        float: left; }
        .headerCon ul.NavHDlst > li ul.naNoe > li {
          width: 100%;
          height: 32px;
          background-image: url(../images/but/navlR.png);
          background-repeat: no-repeat;
          background-position: 95% center; }
          .headerCon ul.NavHDlst > li ul.naNoe > li > a {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 32px;
            color: #555;
            font-size: 16px;
            padding-left: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; }
        .headerCon ul.NavHDlst > li ul.naNoe > li.active {
          background-color: #e0edd0; }
      .headerCon ul.NavHDlst > li ul.naTwo {
        height: 100%;
        width: 220px;
        background-color: #f0f6e7;
        padding-top: 13px;
        float: left; }
        .headerCon ul.NavHDlst > li ul.naTwo > li {
          width: 100%;
          height: 100%;
          display: none; }
          .headerCon ul.NavHDlst > li ul.naTwo > li ul.naTwoN > li {
            width: 100%;
            height: 32px; }
            .headerCon ul.NavHDlst > li ul.naTwo > li ul.naTwoN > li > a {
              display: block;
              width: 100%;
              height: 100%;
              line-height: 32px;
              color: #555;
              font-size: 16px;
              padding-left: 26px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical; }
          .headerCon ul.NavHDlst > li ul.naTwo > li ul.naTwoN > li.active {
            background-color: #e0edd0; }
          .headerCon ul.NavHDlst > li ul.naTwo > li ul.naTwoN > li:hover {
            background-color: #e0edd0; }

section.InBanner {
  width: 100%;
  height: 620px;
  background-color: #013c86; }
  section.InBanner .swiper-container {
    width: 100%;
    height: 100%; }
  section.InBanner .swiper-pagination > span {
    width: 10px;
    height: 10px;
    margin: 10px; }
  section.InBanner .swiper-pagination > span.swiper-pagination-bullet-active {
    background-color: #82b541; }
  section.InBanner div.banerWordCn {
    height: 100%;
    width: 1160px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -580px;
    color: #fff; }
    section.InBanner div.banerWordCn .ani {
      position: absolute; }
    section.InBanner div.banerWordCn .ind1 {
      top: 87px;
      left: 0;
      font-size: 50px;
      text-transform: uppercase; }
    section.InBanner div.banerWordCn .ind2 {
      top: 174px;
      left: 0;
      font-size: 50px;
      text-transform: uppercase; }
    section.InBanner div.banerWordCn .ind3 {
      top: 287px;
      left: 0;
      font-size: 16px;
      text-transform: uppercase; }
    section.InBanner div.banerWordCn > a {
      position: absolute;
      top: 440px;
      left: 0;
      display: block;
      width: 270px;
      height: 70px;
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      line-height: 66px;
      font-size: 16px; }

h2.headerin {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold; }
  h2.headerin > span {
    color: #82b540; }

p.headerinp {
  padding-top: 70px;
  text-align: center;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px; }

section.InWeDo {
  width: 100%;
  height: 746px;
  background-image: url("../images/back/lifestyle_background.jpg");
  background-position: center center;
  text-transform: uppercase; }
  section.InWeDo ul.navC {
    margin-top: 30px;
    background-image: url("../images/back/bg-improvelifestyle.png");
    background-position: center center;
    width: 100%;
    height: 400px;
    position: relative; }
    section.InWeDo ul.navC > li {
      width: 220px;
      height: 220px;
      border: 2px solid #82b541;
      border-radius: 50%;
      background-color: #fff;
      padding: 16px;
      position: absolute;
      transition: all 0.5s; }
      section.InWeDo ul.navC > li > a {
        background-color: #82b541;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        font-weight: bold;
        color: #fff; }
        section.InWeDo ul.navC > li > a div.icon {
          height: 50%;
          position: relative; }
          section.InWeDo ul.navC > li > a div.icon div.cn {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%; }
            section.InWeDo ul.navC > li > a div.icon div.cn > span {
              display: inline-block;
              padding-bottom: 5px;
              border-bottom: 2px solid #fff; }
          section.InWeDo ul.navC > li > a div.icon i {
            font-size: 56px;
            line-height: 56px; }
    section.InWeDo ul.navC > li.one {
      top: 185px;
      left: 85px; }
    section.InWeDo ul.navC > li.two {
      bottom: 100px;
      left: 460px; }
    section.InWeDo ul.navC > li.three {
      top: 10px;
      right: 70px; }
    section.InWeDo ul.navC > li:hover {
      width: 250px;
      height: 250px; }

ul.ANNList {
  width: 100%;
  padding-top: 20px; }
  ul.ANNList > li {
    margin-top: 10px; }
    ul.ANNList > li div.timeCom {
      float: left;
      font-size: 14px;
      color: #4d4d4d;
      padding-top: 10px;
      transition: all 0.3s;
      font-weight: bold; }
    ul.ANNList > li div.RigCon {
      float: right;
      width: 890px;
      margin-right: 20px; }
      ul.ANNList > li div.RigCon > a {
        display: block; }
        ul.ANNList > li div.RigCon > a > p {
          font-size: 26px;
          color: #323232;
          font-weight: bold;
          transition: all 0.3s; }
        ul.ANNList > li div.RigCon > a > span {
          color: #999;
          font-size: 14px;
          transition: all 0.3s; }
    ul.ANNList > li a.bot {
      float: right;
      margin-right: 40px;
      width: 172px;
      height: 50px;
      background-color: #82b541;
      text-align: center;
      font-size: 18px;
      color: #fff;
      line-height: 50px;
      transition: all 0.5s; }
    ul.ANNList > li a.bot:hover {
      background-color: #5b9910; }
  ul.ANNList > li:hover div.timeCom {
    color: #82b541; }
  ul.ANNList > li:hover div.RigCon > a > p {
    color: #82b541; }
  ul.ANNList > li:hover div.RigCon > a > span {
    color: #82b541; }

ul.newsList {
  width: 100%;
  padding-top: 34px; }
  ul.newsList > li {
    float: left;
    width: 366px;
    height: 306px;
    margin-left: 30px; }
    ul.newsList > li > a {
      display: block;
      height: 100%; }
      ul.newsList > li > a div.imgc {
        width: 100%;
        height: 245px;
        overflow: hidden;
        position: relative; }
        ul.newsList > li > a div.imgc div.hoverCn {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          line-height: 240px;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.3s;
          transform: scale(0); }
          ul.newsList > li > a div.imgc div.hoverCn > i {
            font-size: 40px;
            color: #fff; }
        ul.newsList > li > a div.imgc > img {
          width: 100%;
          transform: scale(1);
          transition: all 0.3s; }
      ul.newsList > li > a div.imgc:hover div.hoverCn {
        transform: scale(1); }
      ul.newsList > li > a div.imgc:hover > img {
        width: 100%;
        transform: scale(1.2); }
      ul.newsList > li > a div.time {
        font-size: 16px;
        color: #82b541;
        padding: 10px 20px;
        font-weight: bold; }
      ul.newsList > li > a div.word {
        font-size: 14px;
        font-weight: bold;
        padding: 0px 20px;
        display: -webkit-box; }
  ul.newsList > li:nth-child(1) {
    margin-left: 0; }

div.BotCon {
  width: 100%;
  padding-top: 34px; }
  div.BotCon a.bot {
    display: block;
    margin: 40px auto 0;
    width: 172px;
    height: 50px;
    background-color: #82b541;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    transition: all 0.5s; }
  div.BotCon a.bot:hover {
    background-color: #5b9910; }

section.FIGURES {
  width: 100%;
  background-color: #fff; }
  section.FIGURES div.FIGURESCon {
    background-color: #82b541;
    height: 310px;
    margin-top: 34px; }
    section.FIGURES div.FIGURESCon ul.FIGURESlist {
      height: 100%; }
      section.FIGURES div.FIGURESCon ul.FIGURESlist > li {
        padding-top: 110px;
        float: left;
        width: 20%;
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: #82b541;
        transition: all 0.5s; }
        section.FIGURES div.FIGURESCon ul.FIGURESlist > li div.came {
          font-size: 52px;
          font-weight: bold; }
        section.FIGURES div.FIGURESCon ul.FIGURESlist > li p.name {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold; }
      section.FIGURES div.FIGURESCon ul.FIGURESlist > li:hover {
        background-color: #5b9910; }
      section.FIGURES div.FIGURESCon ul.FIGURESlist > li:nth-child(2n) {
        background-color: #5b9910; }
      section.FIGURES div.FIGURESCon ul.FIGURESlist > li:nth-child(2n):hover {
        background-color: #82b541; }

section.photos nav.photosNav {
  padding-top: 34px;
  text-align: center; }
  section.photos nav.photosNav a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 20px; }
  section.photos nav.photosNav a.active {
    color: #82b541; }
section.photos ul.photosCon {
  width: 100%;
  padding-top: 34px; }
  section.photos ul.photosCon > li {
    width: 268px;
    height: 410px;
    float: left;
    margin-left: 29px; }
    section.photos ul.photosCon > li a {
      display: block;
      position: relative; }
      section.photos ul.photosCon > li a img {
        transition: all 0.3s;
        transform: scale(1);
        width: 100%; }
      section.photos ul.photosCon > li a div.hoverCn {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        padding: 35px 25px;
        opacity: 0;
        transition: all 0.3s; }
        section.photos ul.photosCon > li a div.hoverCn div.hed {
          color: #fff;
          font-size: 22px;
          text-transform: uppercase; }
        section.photos ul.photosCon > li a div.hoverCn p {
          color: #fff; }
        section.photos ul.photosCon > li a div.hoverCn span {
          position: absolute;
          bottom: 35px;
          right: 25px;
          display: block;
          border-right: 72px solid #81b441;
          border-top: 72px solid transparent; }
          section.photos ul.photosCon > li a div.hoverCn span > i {
            position: absolute;
            bottom: 10px;
            left: 40px;
            color: #fff;
            font-size: 20px; }
    section.photos ul.photosCon > li a.imgC {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    section.photos ul.photosCon > li a.imgT, section.photos ul.photosCon > li a.imgB {
      width: 100%;
      height: 190px;
      overflow: hidden; }
      section.photos ul.photosCon > li a.imgT > img, section.photos ul.photosCon > li a.imgB > img {
        height: 100%; }
    section.photos ul.photosCon > li a.imgB {
      margin-top: 30px; }
    section.photos ul.photosCon > li a:hover div.hoverCn {
      opacity: 1; }
    section.photos ul.photosCon > li a:hover img {
      transform: scale(1.3); }
  section.photos ul.photosCon > li:nth-child(1) {
    margin-left: 0; }

section.RaV div.STOCK, section.RaV div.VIDEO {
  width: 50%;
  float: left; }
  section.RaV div.STOCK div.neiC, section.RaV div.VIDEO div.neiC {
    padding-top: 34px; }
    section.RaV div.STOCK div.neiC div.word, section.RaV div.STOCK div.neiC img, section.RaV div.VIDEO div.neiC div.word, section.RaV div.VIDEO div.neiC img {
      width: 100%;
      height: 310px; }
    section.RaV div.STOCK div.neiC div.word, section.RaV div.VIDEO div.neiC div.word {
      background-color: #a7c581;
      padding: 36px 54px;
      transition: all 0.5s; }
      section.RaV div.STOCK div.neiC div.word p, section.RaV div.VIDEO div.neiC div.word p {
        color: #fff;
        margin-top: 20px; }
      section.RaV div.STOCK div.neiC div.word p.p1, section.RaV div.VIDEO div.neiC div.word p.p1 {
        margin-top: 0px;
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase; }
      section.RaV div.STOCK div.neiC div.word p.p2, section.RaV div.VIDEO div.neiC div.word p.p2 {
        font-size: 28px;
        text-transform: uppercase; }
      section.RaV div.STOCK div.neiC div.word p.p3, section.RaV div.VIDEO div.neiC div.word p.p3 {
        font-size: 32px;
        text-align: right;
        font-weight: bold; }
      section.RaV div.STOCK div.neiC div.word p.p4, section.RaV div.VIDEO div.neiC div.word p.p4 {
        font-size: 32px;
        text-align: right; }
    section.RaV div.STOCK div.neiC div.word:hover, section.RaV div.VIDEO div.neiC div.word:hover {
      background-color: #7c9260; }
section.RaV div.STOCK {
  padding-right: 15px; }
section.RaV div.VIDEO {
  padding-left: 15px; }
  section.RaV div.VIDEO .videoC {
    width: 100%;
    height: 310px;
    overflow: hidden;
    position: relative; }
  section.RaV div.VIDEO #indVideo {
    width: 100%;
    margin-top: -35px; }
  section.RaV div.VIDEO div.play {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-image: url(../video/play.png);
    background-size: 100px 200px;
    background-position: 0 0px;
    background-repeat: no-repeat;
    transition: all 0.1s;
    transform: scale(1); }
  section.RaV div.VIDEO div.active {
    bottom: -7%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    background-position: 0 -100px;
    transform: scale(0.5); }

section.DOCUMENTS {
  padding-bottom: 68px; }

div.DOCUMENTSList {
  width: 100%;
  height: 345px;
  padding: 34px 20px  0; }
  div.DOCUMENTSList div.DOCUL {
    width: 230px;
    height: 303px;
    padding-top: 40px;
    text-align: center;
    margin-left: 1px;
    background-color: #fff;
    position: relative;
    border: 1px solid #82b541;
    z-index: 2; }
    div.DOCUMENTSList div.DOCUL div.posback {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 0;
      background-color: #82b541;
      transition: all 0.3s; }
    div.DOCUMENTSList div.DOCUL div.head {
      font-size: 20px;
      color: #000;
      font-weight: bold;
      transition: all 0.3s; }
    div.DOCUMENTSList div.DOCUL div.icon {
      margin-top: 30px; }
      div.DOCUMENTSList div.DOCUL div.icon > i {
        font-size: 50px;
        color: #82b541;
        transition: all 0.3s; }
    div.DOCUMENTSList div.DOCUL p {
      width: 100%;
      margin-top: 36px;
      padding: 0 8px;
      color: #999;
      word-wrap: break-word;
      transition: all 0.3s; }
  div.DOCUMENTSList div.DOCUL:hover div.posback {
    height: 100%; }
  div.DOCUMENTSList div.DOCUL:hover div.head {
    color: #fff; }
  div.DOCUMENTSList div.DOCUL:hover div.icon > i {
    color: #fff; }
  div.DOCUMENTSList div.DOCUL:hover p {
    color: #fff; }

.nextDOCUM {
  background-image: url(../images/but/bcg_r.png);
  right: 1px;
  width: 30px;
  height: 30px; }

.prevDOCUM {
  background-image: url(../images/but/bcg_l.png);
  left: 1px;
  width: 30px;
  height: 30px; }

section.Links {
  background-image: url(../images/back/buttom.jpg);
  height: 440px;
  background-position: 0 0; }
  section.Links div.LinksN {
    width: 100%;
    height: 100%;
    background-color: rgba(139, 165, 106, 0.5); }

.ButLogo {
  padding: 60px 100px 0;
  position: relative; }

.ButLogoListN {
  width: 100%; }
  .ButLogoListN img {
    display: block;
    width: 188px;
    height: 71px;
    margin: 0 auto; }

.nextButLogo {
  background-image: url(../images/but/bcg_r2.png);
  top: 55%;
  right: 0px;
  width: 60px;
  height: 90px;
  background-size: 100% 100%; }

.prevButLogo {
  background-image: url(../images/but/bcg_l2.png);
  top: 55%;
  left: 0px;
  width: 60px;
  height: 90px;
  background-size: 100% 100%; }

section.FengXiang {
  width: 100%;
  padding: 20px  0;
  background-color: #363636; }
  section.FengXiang div.FengXiangCn {
    text-align: center; }
    section.FengXiang div.FengXiangCn > a {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin: 0 135px;
      background-position: 0 0;
      background-size: 36px 72px;
      background-repeat: no-repeat; }
    section.FengXiang div.FengXiangCn > a:nth-child(1) {
      background-image: url("../images/shejiao/facebook.png"); }
    section.FengXiang div.FengXiangCn > a:nth-child(2) {
      background-image: url("../images/shejiao/twitter.png"); }
    section.FengXiang div.FengXiangCn > a:nth-child(3) {
      background-image: url("../images/shejiao/weixin.png"); }
    section.FengXiang div.FengXiangCn > a:hover {
      background-position: 0 -36px; }

footer.inFooter {
  width: 100%;
  background-color: #222222;
  padding-top: 40px; }
  footer.inFooter div.metaCn {
    line-height: 64px;
    color: #8c8d8f;
    font-size: 14px;
    text-align: center; }
  footer.inFooter ul.footNavC {
    color: #fff;
    padding-bottom: 70px;
    border-bottom: 1px solid #333333; }
    footer.inFooter ul.footNavC li {
      float: left;
      width: 25%; }
      footer.inFooter ul.footNavC li div.head {
        font-size: 22px; }
      footer.inFooter ul.footNavC li > a {
        display: block;
        color: #fff;
        font-size: 14px;
        margin-top: 14px; }
        footer.inFooter ul.footNavC li > a > i {
          margin-right: 6px; }
      footer.inFooter ul.footNavC li > a:hover {
        color: #82b541; }
  footer.inFooter div.linkCn {
    padding-top: 20px; }
    footer.inFooter div.linkCn > a {
      color: #fff;
      font-size: 14px;
      margin: 0 15px; }

.PhotosFrame {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }
  .PhotosFrame .nextFrame, .PhotosFrame .prevFrame {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    background-repeat: no-repeat;
    opacity: 0.7; }
  .PhotosFrame .nextFrame {
    background-image: url(../images/but/lightbox-arrow-left.png);
    left: 40px; }
  .PhotosFrame .prevFrame {
    background-image: url(../images/but/lightbox-arrow-right.png);
    right: 40px; }
  .PhotosFrame #ExitPhotosFrame {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 20px;
    background-repeat: no-repeat;
    background-image: url(../images/but/lightbox-close.png);
    opacity: 0.7; }
  .PhotosFrame .nextFrame:hover, .PhotosFrame .prevFrame:hover, .PhotosFrame #ExitPhotosFrame:hover {
    transition: all 0.5s;
    opacity: 1; }
  .PhotosFrame div.imgCon {
    position: absolute;
    top: 50px;
    left: 120px;
    right: 120px;
    bottom: 50px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s; }
    .PhotosFrame div.imgCon div.imc {
      width: 100%;
      height: 100%;
      display: table;
      text-align: center; }
      .PhotosFrame div.imgCon div.imc span {
        display: table-cell;
        vertical-align: middle; }
        .PhotosFrame div.imgCon div.imc span > img {
          max-height: 100%;
          max-width: 100%;
          border-radius: 6px;
          border: 5px solid #fff; }
  .PhotosFrame div.active {
    transform: scale(1);
    opacity: 1; }

section.FoxProBanner {
  background-image: url(../images/back/fuyebank.jpg);
  height: 230px;
  padding-top: 35px;
  text-align: center; }
  section.FoxProBanner div.head {
    font-size: 50px;
    color: #fff;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase; }
  section.FoxProBanner div.line {
    width: 100%; }
    section.FoxProBanner div.line > span {
      display: inline-block;
      width: 95px;
      height: 5px;
      background-color: #fcc800; }
  section.FoxProBanner div.lujin {
    color: #fff;
    padding-top: 15px; }
    section.FoxProBanner div.lujin > a {
      font-size: 12px;
      text-transform: uppercase;
      color: #fff; }

div.BotConPub {
  width: 100%;
  text-align: right;
  padding-right: 90px; }
  div.BotConPub > a.bot {
    display: inline-block;
    width: 172px;
    height: 50px;
    background-color: #82b541;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    transition: all 0.5s; }
  div.BotConPub a.bot:hover {
    background-color: #5b9910; }

section.company p.info {
  color: #c1c1c1;
  line-height: 30px;
  text-align: center;
  padding-top: 30px; }
section.company div.more {
  width: 600px;
  margin: 0 auto;
  text-align: right; }
  section.company div.more > a {
    font-size: 16px;
    color: #82b541;
    text-transform: uppercase; }
section.company div.timeLine {
  width: 1050px;
  height: 440px;
  margin: 0 auto;
  position: relative; }
  section.company div.timeLine div.line {
    width: 100%;
    height: 20px;
    background-image: url(../images/back/timeline.png);
    position: absolute;
    top: 40%;
    left: 0; }
    section.company div.timeLine div.line ul.shijian {
      width: 100%;
      height: 100%;
      position: relative; }
      section.company div.timeLine div.line ul.shijian li {
        padding-left: 20px;
        max-height: 180px;
        max-width: 220px;
        position: absolute; }
        section.company div.timeLine div.line ul.shijian li h4 {
          color: #82b541;
          font-weight: bold; }
        section.company div.timeLine div.line ul.shijian li p {
          width: 100px;
          font-size: 12px;
          color: #999;
          word-wrap: break-word; }
        section.company div.timeLine div.line ul.shijian li > img {
          margin-top: 6px;
          border: 1px solid  #fff; }
        section.company div.timeLine div.line ul.shijian li div.lin {
          position: absolute;
          top: 0;
          left: 10px;
          height: 100%;
          width: 1px;
          background-color: #999; }
          section.company div.timeLine div.line ul.shijian li div.lin > span {
            display: block;
            width: 5px;
            height: 5px;
            background-color: #999;
            position: absolute;
            left: -2px;
            border-radius: 50%; }
      section.company div.timeLine div.line ul.shijian li:hover p {
        color: #82b541; }
      section.company div.timeLine div.line ul.shijian li:hover > img {
        border: 1px solid #82b541; }
      section.company div.timeLine div.line ul.shijian li.T {
        bottom: 30px; }
        section.company div.timeLine div.line ul.shijian li.T div.lin > span {
          bottom: 0px; }
      section.company div.timeLine div.line ul.shijian li.B {
        top: 30px; }
        section.company div.timeLine div.line ul.shijian li.B div.lin > span {
          top: 0px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(1) {
        left: 50px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(2) {
        left: 150px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(3) {
        left: 250px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(4) {
        left: 350px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(5) {
        left: 450px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(6) {
        left: 550px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(7) {
        left: 650px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(8) {
        left: 750px; }
      section.company div.timeLine div.line ul.shijian li:nth-child(9) {
        left: 850px; }

section.Facts {
  background-image: url(../images/back/fuyebank_02.jpg); }
  section.Facts ul.indlist {
    padding: 60px 60px 80px; }
    section.Facts ul.indlist > li {
      width: 25%;
      float: left;
      text-align: center; }
      section.Facts ul.indlist > li div.iconC i {
        font-size: 30px;
        color: #82b541; }
      section.Facts ul.indlist > li div.ind {
        padding-top: 15px;
        font-size: 30px;
        color: #272727;
        transition: all 0.5s; }
      section.Facts ul.indlist > li p {
        color: #999;
        transition: all 0.5s; }
    section.Facts ul.indlist > li:hover p, section.Facts ul.indlist > li:hover div.ind {
      color: #82b541; }

section.Business div.BusinessMap {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  overflow: hidden; }
section.Business div.BusinessMapNav {
  width: 100%;
  height: 190px;
  background-color: #82b541; }
  section.Business div.BusinessMapNav ul.BusinessMaplist {
    height: 100%; }
    section.Business div.BusinessMapNav ul.BusinessMaplist > li {
      width: 20%;
      height: 100%;
      text-align: center;
      float: left;
      padding-top: 40px;
      background-color: #82b541;
      transition: all 0.5s; }
      section.Business div.BusinessMapNav ul.BusinessMaplist > li div.iconC > i {
        font-size: 60px;
        color: #fff; }
      section.Business div.BusinessMapNav ul.BusinessMaplist > li p {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px; }
    section.Business div.BusinessMapNav ul.BusinessMaplist > li.active {
      background-color: #5b9910; }
    section.Business div.BusinessMapNav ul.BusinessMaplist > li:hover {
      background-color: #5b9910; }

section.Management ul.ManagementList {
  padding: 60px 0; }
  section.Management ul.ManagementList > li {
    float: left;
    width: 378px;
    height: 300px;
    border: 1px solid #82b541;
    margin-left: 13px; }
    section.Management ul.ManagementList > li > a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      section.Management ul.ManagementList > li > a div.title {
        line-height: 90px;
        text-align: center;
        color: #82b541;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #fff;
        transition: all 0.5s; }
      section.Management ul.ManagementList > li > a div.imgC {
        width: 100%; }
        section.Management ul.ManagementList > li > a div.imgC > img {
          max-width: 100%; }
    section.Management ul.ManagementList > li > a:hover div.title {
      color: #fff;
      background-color: #82b541; }
  section.Management ul.ManagementList > li:nth-child(1) {
    margin-left: 0; }

section.Responsibility {
  background-color: #ececec; }
  section.Responsibility p.info {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 34px;
    margin-top: 20px; }
  section.Responsibility ul.Responsibilitylist {
    width: 100%;
    padding: 0 190px; }
    section.Responsibility ul.Responsibilitylist > li {
      float: left;
      width: 25%;
      text-align: center;
      padding-top: 36px; }
      section.Responsibility ul.Responsibilitylist > li div.iconC {
        width: 76px;
        height: 76px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid #82b541;
        line-height: 74px;
        box-shadow: 0px 0px 15px #82b541;
        background-color: #fff;
        transition: all 0.7s;
        cursor: pointer; }
        section.Responsibility ul.Responsibilitylist > li div.iconC > i {
          font-size: 30px;
          color: #82b541; }
      section.Responsibility ul.Responsibilitylist > li div.iconC:hover {
        background-color: #82b541; }
        section.Responsibility ul.Responsibilitylist > li div.iconC:hover > i {
          color: #fff; }
      section.Responsibility ul.Responsibilitylist > li p {
        padding-top: 10px;
        color: #c1c1c1;
        font-size: 14px; }
  section.Responsibility div.word {
    padding: 30px 225px 110px; }
    section.Responsibility div.word div.left {
      float: left;
      width: 190px;
      color: #363838;
      text-transform: uppercase; }
    section.Responsibility div.word div.Rig {
      float: left;
      width: 490px;
      font-size: 14px;
      color: #838a88;
      line-height: 20px; }

/*# sourceMappingURL=about.css.map */
