@import 'public.css';
// @import 'http://at.alicdn.com/t/font_lfo3ci91qtr19k9.css';

@font-face {font-family: 'iconfontyyy';
src: url('../font/iconfont.eot');
src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
url('../font/iconfont.woff') format('woff'),
url('../font/iconfont.ttf') format('truetype'),
url('../font/iconfont.svg#iconfontyyy') format('svg');
}


.iconfont{
	font-family:"iconfontyyy" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


$headFontColor: #fcc800;
$zhutiColor: #0075bd;

$tubHover: #5b9910;


.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 

.centerCon{
	width: 1000px;
	margin:0 auto ;
	position: relative;
	div.imgC{
		width: 100px;
		margin:0 auto;
		img{
			width: 100%;
		}
	}
}



@mixin line-clamp ($line) {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}


// @include line-clamp(2);


#upTop{
	position: fixed;
	bottom:100px;
	right:100px;
	width: 60px;
	height:80px;
	line-height:80px;
	text-align:center;
	opacity: 1;
	transition:all 0.7s;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	cursor: pointer;
	z-index:60;
	display:none;

	>i{
		font-size: 60px;
		color: $zhutiColor;


	}
}

.videoCon{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position: fixed;
	top:0;
	left:0;
	z-index:999;
	display:none;
	div.Cn{
		position: absolute;
		top:50%;
		left: 50%;
		margin-left: -500px;
		margin-top: -315px;
		width: 1000px;
		height: 630px;
		background-color: #000;
		iframe,embed{
			width: 100%;
			height: 100%;
		}

		div.guanbi{
			width: 30px;
			height: 30px;
			position: absolute;
			top: -35px;
			right: 0;
			color: #fff;
			text-align: content;
			z-index: 99;
			cursor: pointer;
			>i{
				font-size: 26px;
				color: #cecdcd;

			}
		}


	}
}

.IndMore{
	width: 100%;
	text-align:center;
	padding-top:54px;
	padding-bottom:54px;
	>a{
		display: inline-block;
		line-height: 26px;
		height: 30px;
		width: 150px;
		text-align: center;
		border:2px solid $zhutiColor;
		color: $zhutiColor;
		// font-weight: bold;
		font-size: 12px;
		text-transform:uppercase;
		transition:all 0.3s;
		font-family: 'English';

	}
	>a:hover{
		color: $zhutiColor;
		border:2px solid $zhutiColor;


	}
	>span.download{
		display: inline-block;
		color: #666;
		font-size: 20px;
		text-transform:uppercase;

	}

	>span{
		font-size: 14px;
		line-height: 30px;
		color: #999;
		display: none;
		text-transform:uppercase;

	}
}

.DownloadCon{
	width: 100%;
	padding:20px 0 ;
	span.download{
		display: inline-block;
		color: #000;
		font-size: 20px;
		// font-weight: bold;
	}
	>a{
		margin: 0 8px;
		color: #666;
		font-size: 20px;
		
	}
	>a:hover{
		color: $zhutiColor;

	}

}





.InHeader{
	width: 100%;
	text-align:center;
	span{
		display: inline-block;
		font-size: 32px;
		color: #363636;
		line-height: 56px;
		border-bottom:2px solid $zhutiColor;
		// font-weight: bold;
	}
}


.IdheadTow{
	width:100%;
	line-height:31px;
	border-left:3px solid $zhutiColor;
	font-size:30px;
	color:#000;
	padding-left:8px;
	// font-weight: bold;
}


div.InTopBanner{
	text-align:center;
	background-color:#f2f2f2;
	position: relative;
	width:100%;
	height:107px;
	overflow: hidden;
	img{
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
	}

}

header#header{
	width: 100%;
	height: 50px;
	background-color: #fff;
	position: relative;
	border-bottom:1px solid #d6d6d6;

	div.Logo{
		float: left;
		height: 100%;
		padding-top:10px;
		img{
			width: 160px;
		}

	}

	div.NavAndSearch{
		float: right;
		height: 50px;
		nav{
			float: left;
			height: 100%;
			>a{
				display: inline-block;
				margin:0 17px;
				// font-weight: bold;
				height: 100%;
				line-height: 48px;
				font-size: 18px;
				padding:0 10px;
				border-bottom:3px solid rgba(0,0,0,0);
				color: #363636;
			}
			>a:nth-child(6){font-family: 'digger',"Microsoft YaHei","PingFangSC-Regular", sans-serif;letter-spacing:-1px; font-weight: normal;}
			>a:hover{
				// border-bottom:3px solid  $zhutiColor;
				color: $zhutiColor;
			}
			>a.active{
				border-bottom:3px solid  $zhutiColor;
				color: $zhutiColor;
			}
		}
		form.Search{
			width: 150px;
			height: 100%;
			float: left;
			padding-top:12px;
			position: relative;
			margin-left: 65px;
			>input{
				position: absolute;
				top: 12px;
				right: 0;
				width: 0%;
				height: 24px;
				border:1px solid #fff;
				padding-left: 0px;
				padding-right: 0px;
				transition: all 0.7s;

			}
			>input.active{
				width: 100%;
				border:1px solid #cfcfcf;
				padding-left: 10px;
				padding-right: 28px;
			}
			button.iconCn{
				width: 24px;
				height: 24px;
				position: absolute;
				top: 12px;
				right: 0;
				border:0;
				background-color:rgba(0,0,0,0);
				>i{
					font-size: 20px;
					color: #666;
					cursor: pointer;
				}
			}
		}

	}
}




footer#footer{
	width: 100%;
	text-align:center;
	padding-top:75px;
	padding-bottom:35px;
	background-color:#fff;
	div.link{
		margin-top: 10px;
		a{
			display: inline-block;
			padding:0 35px;
			color: #000;
			line-height: 15px;
			// font-weight: bold;
			font-size: 14px;
			border-left:1px solid #c7c7c7;
		}
		a:nth-child(1){border-left:0;}
	}
	p{
		margin-top: 8px;
		color: #b1b1b1;
		font-size: 12px;
	}
}







section.InBanner{
	height:800px;
	#InBannerSwiper{
		height: 100%;
	}
	.swiper-wrapper{
		height: 100%;
	}
	.swiper-slide{
		text-align: center;
		overflow: hidden;
		height: 100%;
		a{
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
		}
		img{
			position: absolute;
			width: 1920px;
			height: 800px;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
	}

	.swiper-pagination-switch{
		width: 64px;
		height: 4px;
		background-color:rgba(255,255,255,1);
		margin:0 12px;
		border-radius: 0;
		display: inline-block;
		opacity: 0.6;
		cursor: pointer;
	}
	.swiper-active-switch{
		width: 64px;
		height: 4px;
		background-color:$zhutiColor;
		opacity: 1;
	}
	.InBannerOnePrev,.InBannerOneNext{
		position: absolute;
		top: 50%;
		margin-top: -45px;
		width: 91px;
		height: 91px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		cursor: pointer;
	}
	.InBannerOnePrev{
		background-image: url(../images/public/Prev.png);
		opacity: 0;
		transition: all .7s;
		left: 30px;

	}
	.InBannerOneNext{
		background-image: url(../images/public/Next.png);
		opacity: 0;
		transition: all .7s;
		right: 30px;

	}
	.InBannerOnePagination{
		position: absolute;
		width: 100%;
		bottom:40px;
		left: 0px;
		z-index: 9;
		height: 10px;
		text-align: center;

	}

	.bocBotl,.bocBotr{
		width: 250px;
		height: 100%;
		position: absolute;
		top: 0;
		z-index:99;
	}
	.bocBotl{
		left: 0;
	}
	.bocBotr{
		right: 0;
	}

	.bocBotl:hover{
		.InBannerOnePrev{
			opacity: 1;
		}
	}
	.bocBotr:hover{
		.InBannerOneNext{
			opacity: 1;
		}
	}
}








section.exhibition{
	width: 100%;
	padding-top:95px;
	padding-bottom:40px;
	a.InWindow{
		width: 100%;
		display: block;

		div.text{
			float: left;
			width: 500px;
			div.line{
				width: 40px;
				height: 11px;
				background-color:$zhutiColor;
			}
			div.head{
				margin-top: 20px;
				font-size: 44px;
				line-height: 70px;
				text-transform:uppercase;
				// font-family: 'English';
				@include line-clamp(2);
			}
			
			div.time{
				margin-top: 20px;
				font-family: 'English';
				
				font-size: 16px;
				color: #afafaf;
			}
			p{
				margin-top: 10px;
				color: #888888;
				font-size:20px;
				padding-right:20px;
				line-height: 34px;
				@include line-clamp(3);
			}
		}
		div.imgC{
			width: 490px;
			height: 370px;
			overflow: hidden;
			float: right;
			>img{
				width: 100%;
				transition:all .7s;
				transform:  scale(1);
			}
		}
		div.imgC:hover{
			>img{
				width: 100%;
				transform:  scale(1.05);
			}
		}
	}
	a.InWindow:hover{
		div.head{
			color:#666;
		}
	}

	div.slideSweiper{
		width: 888px;
		margin: 26px auto 0;
		position: relative;
		height: 154px;
		.swiper-container{
			height: 100%;
		}

		.swiper-wrapper{
			height: 100%;
		}
		.swiper-slide{
			height: 100px;
		}
		.exhibitionPrev{
			position: absolute;
			top:50%;
			left: -70px;
			width: 43px;
			height: 75px;
			margin-top:-37px;
			background-image:url(../images/public/Prev2.png);
			cursor: pointer;

		}
		.exhibitionNext{
			position: absolute;
			top:50%;
			right: -70px;
			width: 43px;
			height: 75px;
			margin-top:-37px;
			background-image:url(../images/public/Next2.png);
			cursor: pointer;
			

		}

		.wordin{
			display: block;
			width: 206px;
			height: 154px;
			overflow: hidden;
			position: relative;
			float: left;
			margin-right: 20px;
			>img{
				width: 100%;
				height: 100%;
				transition:all .7s;
				transform:  scale(1);


			}
			div.pcn{
				position: absolute;
				bottom:0;
				left: 0;
				height: 0px;
				transition: all 0.3s ;
				overflow: hidden;
				width: 100%;

				>p{
					width: 100%;
					height: 40px;
					padding:5px 10px;
					color: #fff;
					background-color:rgba(0,0,0,0.60);
					line-height: 14px;
					font-size: 12px;
					@include line-clamp(3);
				}
			}

		}
		.wordin:nth-child(4){margin-right:0;}
		.wordin:hover{
			div.pcn{
				height: 40px;
			}
			>img{
				transform:  scale(1.1);


			}
		}

	}
}
















section.InVideo{
	padding-top:65px;
	padding-bottom:40px;
	background-color:#f2f2f2;


	div.VideoCn{

		margin-top: 40px;
		height: 376px;
		width: 100%;
		position: relative;
		perspective: 800px;
		-webkit-perspective: 1500px;
		transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		
		transform:perspective(800px);
		-moz-transform:perspective(800px);
		-webkit-transform:perspective(800px);
		-o-transform:perspective(800px);
		-ms-transform:perspective(800px);


		>div{
			width: 568px;
			height: 100%;
			position: absolute;
			top: 0;
			left:0; 
			transition:all 0.6s;
			-moz-transition:all 0.6s;
			// -webkit-box-reflect:below 1px -webkit-linear-gradient(top,rgba(0,0,0,-0.1) 80% , rgba(0,0,0,.5) 100%);
			// box-reflect:below 1px -webkit-linear-gradient(top,rgba(0,0,0,-0.1) 80% , rgba(0,0,0,.5) 100%);
			>a{
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				>img{
					width: 100%;
					height: 100%;
				}
				>div.zid{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color:rgba(0,0,0,0.6);
					background-repeat:no-repeat;
					background-position: center center;
					opacity: 1;
					transition: all 0.3s 0.5s;


				}
			}
			>a.active{
				>div.zid{
					opacity: 1;
					background-color:rgba(0,0,0,0);
					background-image:url(../images/public/play.png);

				}

			}
		}

		div.left{
			transform-style:preserve-3d;
			-webkit-transform-style:preserve-3d;
			-ms-transform-style:preserve-3d;
			transform:rotateY(15deg)  translateZ(-300px);
			-webkit-transform:rotateY(15deg)  translateZ(-300px);
			-ms-transform:rotateY(15deg)  translateZ(-300px);
			-moz-transform:rotateY(15deg)  translateZ(-300px);
			-o-transform:rotateY(15deg)  translateZ(-300px);
			z-index: -10;
		}
		div.center{
			transform-style:preserve-3d;
			-webkit-transform-style:preserve-3d;
			-ms-transform-style:preserve-3d;
			transform: translateZ(0px);
			-webkit-transform: translateZ(0px);
			-ms-transform: translateZ(0px);
			-moz-transform: translateZ(0px);
			-o-transform: translateZ(0px);
			left:50%;
			margin-left:-284px;
			z-index: 10;
		}
		div.right{
			transform-style:preserve-3d;
			-webkit-transform-style:preserve-3d;
			transform:rotateY(-15deg)  translateZ(-300px);
			-webkit-transform:rotateY(-15deg)  translateZ(-300px);
			-ms-transform:rotateY(-15deg)  translateZ(-300px);
			-moz-transform:rotateY(-15deg)  translateZ(-300px);
			-o-transform:rotateY(-15deg)  translateZ(-300px);
			left:100%; 
			margin-left:-568px;
			z-index: -10;
		}

	}
}

section.advertisement{
	background-color:#a59358;
	position: relative;
	height: 580px;
	overflow: hidden;

	img{
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		transition: all 0.7s;
		transform: scale(1);

	}
	div.com{
		width: 1000px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -500px;
		div.Digger{
			width: 270px;
			height: 110px;
			position: absolute;
			top: 200px;
			left: 125px;
			background-image:url(../images/public/digger.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 270px 220px;
		}

		div.headOne{
			position: absolute;
			top: 200px;
			left:430px;
			font-size: 80px;
			color: #fff;
			font-family: 'digger_number';
		}
		div.text{
			width: 100%;
			text-align: center;
			font-size: 32px;
			color: #fff;
			position: absolute;
			top: 330px;
			left: 0;


		}
	}
}

section.advertisement:hover{
	img.imgban{
		transform: scale(1.05);
	}
	div.com{

		div.Digger{
			// background-position: 0 -110px;
			
		}

		div.headOne,div.text{
			// color: #ccc;
			
		}
	}
}

section.dismantle{
	padding-top:65px;
	// padding-bottom:75px;
	background-color:#f2f2f2;
	ul.list{
		width: 100%;
		margin-top: 40px;
		>li{
			width: 300px;
			height: 300px;
			background-color:#fff;
			box-shadow: 5px 5px 5px #e8e8e8;
			float:left;
			margin-left: 50px;
			>a{
				display: block;
				>div.imgC{
					width: 100%;
					height: 180px;
					overflow: hidden;
					>img{
						width: 100%;
						transition:all .7s;
						transform:  scale(1);
					}
				}
				div.word{
					padding:17px;
					p{
						font-size: 14px;
						color: #000;
						line-height:24px;
						// font-weight: bold;
						@include line-clamp(3);
					}
					div.ti{
						margin-top: 10px;
						color: #999;
						font-size: 12px;
						>i{
							font-size:12px;
							color: #999;
						}
					}

				}
			}
			>a:hover{
				>div.imgC{
					
					>img{
						width: 100%;
						transform:  scale(1.1);
					}
				}
			}
		}
		>li:nth-child(1){
			margin-left: 0;
		}
	}

}












// SpecialList  




section.SpecialList{
	padding-top:40px;
	padding-bottom:40px;
	background-color:#f4f4f4;

	nav.nav{
		width: 100%;
		background-color:#fff;
		padding: 30px 25px 0;

		>a{
			display: inline-block;
			line-height: 48px;
			border-bottom:2px solid #fff;
			color: #888888;
			margin-right: 20px;
			font-size: 24px;
			padding: 0 5px;
			// font-weight: bold;


		}
		>a:hover{
			color:  $zhutiColor;
		}
		>a.active{
			border-bottom:2px solid $zhutiColor;
			color:  $zhutiColor;

		}
	}
	ul.list{
		width: 100%;
		padding:30px 25px 0;
		background-color:#fff;
		>li{
			width: 300px;
			height: 300px;
			margin-right: 25px;
			float: left;
			margin-bottom: 20px;
			>a{
				display: block;
				width: 100%;
				height: 100%;
				>div.imgC{
					width: 100%;
					height: 188px;
					overflow: hidden;
					>img{
						width: 100%;
						transition: all 0.7s;
						transform:  scale(1);

					}
				}
				>div.head{
					font-size: 18px;
					// font-weight: bold;
					color: #000;
					line-height: 22px;
					margin-top: 8px;
					height: 50px;
					@include line-clamp(2);
				}
				>p{
					margin-top: 8px;
					color: #999;
					line-height: 16px;
					font-size: 14px;
					@include line-clamp(2);
				}

			}
			>a:hover{
				>div.head{color:#666;}
				>div.imgC{
					>img{
						transform:  scale(1.1);

					}
				}
			}
		}
		>li:nth-child(3n){
			margin-right: 0;
		}
	}

	.bbu{
		background-color:#fff;
	}
}







// NewsList


section.NewsList{
	background-color:#f4f4f4;
	padding-top:40px;
	padding-bottom:60px;

	div.leftC{
		float: left;
		width: 240px;
		div.Na{
			width: 100%;
			background-color:#fff;
			padding-bottom:30px;
			nav{
				width: 100%;
				padding-top:10px;
				>a{
					display: block;
					width: 25%;
					line-height: 40px;
					text-align: center;
					color: #353535;
					font-size: 16px;
					float: left;
					// font-weight: bold;

				}
				>a.active{
					color: $zhutiColor;

				}
			}
			div.line{
				padding: 0 18px 0 15px;
				>span{
					display: block;
					border-bottom:1px solid #dddddd;
				}
			}
			ul{
				width: 100%;
				padding-top:15px;
				>li{
					width: 100;
					height: 46px;
					line-height: 44px;
					padding-left:13px;
					padding-right:18px;
					border-left: 2px solid #fff;
					>a{
						height: 100%;
						overflow: hidden;
						display: block;
						padding-left:8px;
						font-size: 18px;
						color: #cccccc;
						border-bottom:1px solid #fff;
						font-family: 'English';
					}
				}
				>li.active{
					border-left: 2px solid $zhutiColor;
					>a{
						color: #222222;
						border-bottom:1px solid #eeeeee;
						// font-weight: bold;
					}
				}
			}
		}
		div.linkImg{
			width: 100%;
			margin-top: 40px;
			img{
				width: 100%;
			}
		}
	}




	div.RightC{
		width: 715px;
		float: right;
		>ul.newslistN{
			width: 100%;
			background-color:#fff;
			padding: 0 20px;

			>li{
				padding: 20px 0;
				border-bottom:2px solid #eeeeee;
				>a{
					display: block;
					width: 100%;
					div.imgC{
						float: left;
						width: 266px;
						height: 200px;
						overflow: hidden;
						>img{
							width: 100%;
							transition: all .7s;
							transform:  scale(1);
						}
					}
					
					div.word{
						width: 390px;
						float: right;

						div.zhuoz{
							font-size: 14px;
							color: $zhutiColor;
							font-family: 'English';
						}
						div.title{
							font-size: 26px;
							line-height: 34px;
							margin-top: 10px;
							// font-weight: bold;
							@include line-clamp(2);
						}
						div.time{
							color: #afafaf;
							margin-top:15px;

						}
						p{
							color: #888888;
							margin-top:15px;
							font-size:18px;
							@include line-clamp(2);

						}
					}
				}
				>a:hover{
					div.word{
						div.title{
							color: #666;
						}
					}
					div.imgC{
						>img{
							transform:  scale(1.1);
						}
					}
				}

			}
			>li:nth-last-child(1){
				border-bottom:0;
			}
		}	

		div.fengye{
			width: 100%;
			text-align: center;
			padding:40px 0;
			span{
				display: inline-block;
				line-height: 30px;
				padding:0 8px;
				margin:0 20px;
				font-size: 24px;
				font-family: 'number';
				color: #9d9d9d;
				>i{
					font-size: 24px;
					font-family: 'number';
					color: #9d9d9d;
				}
			}
			span:hover{color: $zhutiColor;}
			span.active{color: $zhutiColor;}

			ul.pagination{
				width: 100%;
				text-align: center;
				>li{
					display: inline-block;
					>a{
						display: inline-block;
						line-height: 30px;
						padding:0 8px;
						margin:0 10px;
						font-size: 24px;
						font-family: 'number';
						color: #9d9d9d;
						>i{
							font-size: 24px;
							font-family: 'number';
							color: #9d9d9d;
						}
					}
					>a.active{
						color: $zhutiColor;
					}
					>a:hover{
						color: $zhutiColor;
					}
					span.active{color: $zhutiColor;}

				}
			}
		}
	}

}






// section.Digger 



section.Digger{
	padding-top:65px;
	p.info{
		text-align: center;
		margin-top: 40px;
		font-size:16px;
		line-height: 22px;
		color: #999;
	}


	div.TimeNav{
		text-align: center;
		margin-top: 24px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		>span{
			cursor: pointer;
			display: inline-block;

		}
		span.ll,
		span.cc,
		span.rr,{
			width: 60px;
			height: 24px;
			border:1px solid $zhutiColor;
			color: $zhutiColor;
			line-height: 20px;
			font-size: 14px;
			margin:0 5px;
			font-family: 'number';

		}
		span.cc{
			background-color:$zhutiColor;
			color: #fff;

		}
		span.right,span.left{
			margin:0 10px;
			font-size: 12px;
			color: 999;
			cursor: pointer;


		}
	}

	ul.Diggerlist{
		width: 100%;
		padding-bottom: 70px;;
		border-bottom: 2px solid #cccccc;
		li{
			width: 160px;
			height: 222px;
			float: left;
			margin-top: 40px;
			margin-left: 20px;
			margin-right: 20px;

			>a{
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				>img{
					width: 100%;
					height: 100%;
				}
				div.men{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color:rgba(255,255,255,0.7);
					padding-top:90px;
					text-align: center;
					opacity: 0;
					transition:all 0.5s;
					>p.title{
						font-size:18px;
						font-family: 'English';
						color: #000;
						// font-weight: bold;
					}

					>p.time{
						margin-top: 10px;
						font-family: 'number';
						color: #000;

					}
				}

			}
			>a.active{
				div.bel{
					background-image:url(../images/public/Glogo.png);
					width: 40px;
					height: 40px;
					position: absolute;
					bottom:-10px;
					right:-10px;
					z-index: 9;

				}
			}
			>a:hover{
				div.men{
					opacity: 1;
				}
			}
		}
		// li:nth-child(5n){margin-right: 0px;}
	}
}






section.VideoList{
	background-color:#f4f4f4;
	padding-top:40px;
	padding-bottom:100px;
	div.listOne{
		background-color:#fff;
		padding:50px 25px 60px; 

		ul.onlist{
			width: 100%;
			padding-top:10px;
			>li{
				margin-left: 20px;
				margin-top: 23px;
				float: left;
				width: 220px;
				height: 166px;
				>a{
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
					div.imgC{
						width: 100%;
						height: 100%;
						overflow: hidden;
						>img{
							width: 100%;
							transition:all 0.7s;
							transform: scale(1);
						}
					}
					div.fud{
						display: none;
						width: 100%;
						height: 100%;
						position: absolute;
						top:0;
						left:0;
						background-image:url(../images/public/play.png);
						background-position: center center;
						background-repeat:no-repeat;
						background-size:40px 40px;
						p{
							height: 24px;
							position: absolute;
							width: 100%;
							line-height:24px;
							color: #fff;
							bottom:0;
							left: 0;
							padding-left:10px;
							background-image:url(../images/public/backjian.png);
							background-size:10px 100%;
							@include line-clamp(1);


						}
					}
				}
				>a:hover{
					div.fud{
						display: block;
					}
					div.imgC{
						>img{
							transform: scale(1.1);
						}
					}
				}
			}
			>li:nth-child(1){
				margin-left: 0;
				width: 470px;
				height: 355px;
				>a{
					div.fud{
						display: block;
						background-size:80px 80px;
						p{
							height: 70px;
							position: absolute;
							width: 100%;
							color: #fff;
							font-size:30px;
							line-height: 80px;
							bottom:0;
							left: 0;
							padding-left:10px;

						}
					}
				}
			}
		}

	}


	div.listTwo{
		margin-top: 30px;
		padding:35px 20px 0;
		background-color:#fff;
		nav.nav{
			width: 100%;

			>a{
				display: inline-block;
				line-height: 48px;
				border-bottom:2px solid #fff;
				color: #888888;
				margin-right: 20px;
				font-size: 24px;
				padding: 0 5px;
				// font-weight: bold;


			}
			>a:hover{
				color:  $zhutiColor;

			}

			>a.active{
				border-bottom:2px solid $zhutiColor;
				color:  $zhutiColor;

			}
		}

		ul.wolist{
			width: 100%;
			>li{
				float: left;
				width: 298px;
				height: 224px;
				margin-top: 44px;
				margin-right: 33px;
				>a{
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
					div.imgC{
						width: 100%;
						height: 100%;
						overflow: hidden;
						>img{
							width: 100%;
							transition: all 0.7s;
							transform: scale(1);
						}
					}
					div.fud{
						display: none;
						width: 100%;
						height: 100%;
						position: absolute;
						top:0;
						left:0;
						background-image:url(../images/public/play.png);
						background-position: center center;
						background-repeat:no-repeat;
						background-size:60px 60px;
						p{
							position: absolute;
							width: 100%;
							height: 24px;
							line-height:24px;
							color: #fff;
							bottom:0;
							left: 0;
							padding-left:10px;
							background-image:url(../images/public/backjian.png);
							background-size:10px 100%;
							@include line-clamp(1);


						}
					}
				}
				>a:hover{
					div.fud{
						display: block;
					}
					div.imgC{
						>img{
							transform: scale(1.1);
						}
					}
				}
			}
			>li:nth-child(3n){margin-right:0;}
		}


	}
}











section.SearchList{
	padding-top:40px;
	padding-bottom:100px;
	background-color:#f4f4f4;
	form.SearchForm{
		margin:0 auto ;
		width: 300px;
		height: 34px;
		border:1px solid $zhutiColor;
		position: relative;
		>input{
			width: 100%;
			line-height: 32px;
			height: 100%;
			border:0;
			padding-left:8px;
			padding-right:85px;
			font-size: 20px;
		}
		button.but{
			position: absolute;
			border:0;
			top: 0px;
			right: 0px;
			width: 80px;
			height: 100%;
			background-color: $zhutiColor;
			color: #fff;
			line-height: 32px;
			color: #fff;
			font-size:20px;
			text-align: center;
			cursor: pointer;
		}
	}

	nav.SearchNav{
		margin-top: 40px;
		width: 100%;
		height: 40px;
		background-color: #eee;
		border-bottom:1px solid #eee;
		>a{
			display: block;
			float: left;
			border-top:2px solid #eee;
			line-height: 36px;
			font-size:18px;
			color: #363636;
			width: 130px;
			height: 100%;
			text-align: center;
			// font-weight: bold;
		}

		>a.active{
			border-top:2px solid $zhutiColor;
			background-color:#fff;

		}
	}
	div.Searchinf{
		width: 100%;
		line-height: 56px;
		color:#ababab;
		padding-left:60px;
		background-color:#fff;
		border-bottom:1px solid #eee;
		// font-weight: bold;
		>span{
			color: $zhutiColor;
		}
	}
	ul.Searchinfo{
		width: 740px;
		border-right:1px solid #eee;
		// padding-right: 9px;
		background-color:#fff;
		float: left;
		>li{
			padding: 20px 0px 20px 20px; 
			border-bottom:1px solid #eee;

			>a{
				display: block;
				width: 100%;
				div.imgC{
					width: 265px;
					height: 200px;
					overflow: hidden;
					float: left;
					>img{
						width: 100%;
						transition: all 0.7s;
						transform: scale(1);
					}
				}

				div.word{
					float: right;
					width: 430px;
					div.lei{
						font-size: 12px;
						color: $zhutiColor;
						// font-weight: bold;

					}
					div.title{
						margin-top: 8px;
						font-size:26px;
						line-height: 36px;
						// font-weight: bold;

						@include line-clamp(2);

					}
					div.time{
						color: #afafaf;
						padding:20px 0;
					}
					div.info{
						font-size: 18px;
						color: #888888;
						line-height: 30px;
						@include line-clamp(2);

					}
				}

			}
			>a:hover{
				div.title{
					color: #666;
				}
				div.imgC{
					>img{
						transform: scale(1.1);
					}
				}
			}
		}
	}
	div.RigCon{
		float: right;
		width: 260px;
		div.total{
			border-bottom:1px solid #eee;
			font-size: 36px;
			color: #999;
			// padding-top:20px;
			padding-bottom:50px;
			padding-left: 20px;
			// font-family: 'English';
			// font-weight: bold;
			span{
				font-size: 50px;
				color: $zhutiColor;
				// font-family: 'number';
				// font-weight: bold;

			}
		}
	}
}







// DiggerBaner


section.DiggerBaner{
	height:580px;
	.swiper-container{
		width: 100%;
		height: 100%;

		.swiper-wrapper{
			height: 100%;
		}
		.swiper-slide{
			height: 100%;
			position: relative;
		}

		a{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -960px;
			margin-top: -290px;
			display: block;
			width: 1920px;
			height: 100%;
			// line-height: 1080px;
			text-align: center;
		}
		img{
			max-height: 100%;
		}
	}

	.Digger-pagination{
		width: 80px;
		height: 40px;
		position: absolute;
		left: none;
		left: 90%;
		bottom:10px;
		border-radius:4px;
		background-color:rgba(0,0,0,0.1);
		font-size: 20px;
		line-height: 40px;
		color: #888888;

	}
	.swiper-slide{
		overflow: hidden;
	}
	.Diggerbutton-prev{
		position: absolute;
		margin-top: -45px;
		top: 50%;
		left: 30px;
		width: 91px;
		height: 91px;
		background-image:url(../images/public/Prev.png); 
		background-size:100% 100%;
		border-radius:50%;
	}

	.Diggerbutton-next{
		position: absolute;
		margin-top: -45px;
		top: 50%;
		right: 30px;
		width: 91px;
		height: 91px;
		background-image:url(../images/public/Next.png); 
		background-size:100% 100%;
		border-radius:50%;
	}



}


section.DiggerInfoCn{
	padding-top:90px;
	// padding-bottom:80px;

	div.head{
		text-align: center;
		font-size: 32px; 
		color: #010101;
		margin-bottom: 40px;
	}
	div.time{
		margin-top: 15px;
		font-size: 16px;
		color: #555;
	}

	div.word{
		font-size: 20px;
		color: #555;

		p{
			margin-top: 40px;
		}
	}
}














section.comment{
	div.commentBottom{
		width: 100%;

		>div.name{
			float: left;
			font-size: 18px;
			color: #363636;
			// font-weight: bold;

		}
		>div.bot{
			float: left;
			height:  30px;
			width: 90px;
			border:1px solid #ededed;
			background-color:#fafafa;
			background-image:url(../images/public/iconf.jpg);
			>span{
				display: block;
				float: left;
				width: 28px;
				height: 28px;
				text-align: center;
				cursor: pointer;
				// border-left:1px solid #ededed;
				position: relative;
				>i{
					color: #474747;
					font-size: 20px;
				}

			}
			>span:after{
				content: ' ';
				width: 1px;
				height: 20px;
				background-color:#ededed;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;

			}
			>span:nth-child(1):after{background-color:rgba(0,0,0,0);}

		}

	}
	div.import{
		width: 100%;
		padding-top: 40px;
		>div.imgC{
			width: 65px;
			height: 66px;
			overflow: hidden;
			float: left;
			>img{
				width: 100%;
			}
		}

		>div.text{
			width: 920px;
			height: 110px;
			float: right;
			textarea{
				width: 100%;
				height: 100%;
				border:1px solid #dbdbdb;
				padding:8px;
				resize:none
			}
		}
	}
	div.butC{
		width: 100%;
		padding: 15px 0;
		div.line{
			float: left;
			font-size: 16px;
			color: #363636;
			// font-weight: bold;
		}
		>button.but{
			float: right;
			width: 60px;
			height: 26px;
			color: #fff;
			background-color:$zhutiColor;
			text-align: center;
			line-height: 26px;
			cursor: pointer;
			border:0;
		}

		div.verify{
			float: right;
			height: 100%;
			margin-right: 20px;
			>img{
				height: 26px;
				margin-left: 10px;
				border:1px solid #eee;
			}
			>input{
				height: 26px;
				width: 80px;
				padding-left:5px;
			}
		}

	}
	ul.commentlist{
		width: 100%;
		border-top: 1px solid #dbdbdb;
		>li{
			width: 100%;
			padding:15px 15px 15px 50px;
			border-bottom: 1px solid #dbdbdb;
			>div.imgc{
				width: 40px;
				height: 40px;
				overflow: hidden;
				float: left;
				>img{
					width: 100%;
				}
			}
			>div.word{
				float: right;
				width: 885px;
				>div.name{
					font-size: 14px;
					color: #888888;
					// font-weight: bold;
				}
				>p{
					font-size: 14px;
					color: #888888;

				}
				>span.time{
					font-size: 12px;
					color: #888888;
					// font-weight: bold;

				}
			}
		}
		div.nocomment{
			font-size: 18px;
			text-align: center;
			color: #b6b6b6;
			line-height: 75px;
			border-bottom: 1px solid #dbdbdb;

		}
		div.overcomment{
			text-align: center;
			font-size: 18px;
			color: #b6b6b6;
			line-height: 75px;
			border-bottom: 1px solid #dbdbdb;
		}
	}
}





section.EvaluationOne{
	padding-top:30px;
	padding-bottom:30px;
	div.head{
		width: 100%;
		font-size: 40px;
		// font-weight: bold;
		letter-spacing: 2px;
		line-height: 60px;
		@include line-clamp(2);
	}
	div.About{
		color: #afafaf;
		// font-weight: bold;
		font-size: 20px;
		margin-top: 20px;
		@include line-clamp(1);
	}
	div.time{
		font-size: 18px;
		color: #555;
		font-family: 'English';
		// font-weight: bold;
		line-height: 80px;
	}
	div.swiper_cn{
		width: 100%;
		height: 535px;
		margin-bottom: 30px;

		.swiper-container{
			height: 100%;
		}
		.swiper-wrapper{
			height: 100%;

			
		}
		.swiper-wrapper{
			height: 100%;
		}
		.swiper-slide{
			width: 100%;
			height: 535px;

			div.cne{
				width: 100%;
				height: 535px;
				overflow:hidden;
				text-align:center;
				// display:table;
				div.td{
					width: 100%;
					height: 100%;
					// display:table-cell;
					// vertical-align:middle;
					text-align:center;
					img{
						// max-width: 100%;
						max-height: 100%;
					}
				}

			}
			
		}


		.NewsInfoLs_prev,.NewsInfoLs_next{
			position: absolute;
			top: 50%;
			margin-top: -45px;
			width: 91px;
			height: 91px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			opacity: 0;
			transition: all 0.5s;
		}

		.NewsInfoLs_prev{
			background-image: url(../images/public/Prev.png);
			left: 10px;
			cursor: pointer;
			
		}

		.NewsInfoLs_next{
			background-image: url(../images/public/Next.png);
			right: 10px;
			cursor: pointer;

			
			
		}
	}
	div.swiper_cn:hover{
		.NewsInfoLs_prev,.NewsInfoLs_next{
			opacity: 1;
		}
	}
	div.word{
		line-height: 32px;
		font-size: 20px; 
		// font-weight: bold;
		img{
			display: block;
			max-width: 100%;
			margin: 0 auto 40px;
		}
		p{
			margin-bottom:40px;
		}
	}

	ul.wordLs{
		width: 100%;
		line-height: 32px;
		font-size: 20px; 
		// font-weight: bold;
		>li{
			float: left;
			width: 485px;
			img{
				display: block;
				max-width: 100%;
				margin: 0 auto 30px;
			}
			p{
				margin-bottom:30px;
			}
		}

		
		>li:nth-child(2n+1){
			margin-left: 30px;
		}
		>li:nth-child(1){
			width: 100%;
			margin-left: 0px;
		}
	}

	div.guangg{
		img{
			max-width: 100%;
		}
	}
}







section.Recommend{
	width:100%;
	padding-top:40px;

	ul.Recommendlist{
		width: 100%;
		padding-top: 30px;
		>li{
			width: 100%;
			margin-top: 40px;
			>a{
				display: block;
				width: 100%;
				div.imgC{
					width: 335px;
					height: 250px;
					overflow: hidden;
					float: left;
					>img{
						width: 100%;
					}
				}
				div.word{
					width: 600px;
					float: right;
					>div.name{
						color: $zhutiColor;
						// font-weight: bold;
						font-size: 14px;
					}
					>div.title{
						// font-weight: bold;
						font-size: 40px;
						line-height: 49px;
						@include line-clamp(2);
					}
					
					>div.time{
						color: #afafaf;
						// font-weight: bold;
						font-size: 14px;
						margin-top: 37px;
					}
					p{
						color: #888888;
						font-size: 18px;
						// font-weight: bold;
						margin-top: 7px;
						@include line-clamp(1);

					}
				}
			}
		}
	}
}


section.VideoInfo{
	padding-top:30px;
	margin-bottom:40px;
	div.videoCn{
		float: left;
		width: 710px;
		height: 515px;
		embed{
			width: 100%;
			height: 100%;
		}

	}
	div.MoreToLove{
		float: right;
		width: 260px;
		height: 515px;
		overflow: hidden;
		background-color:#fff;
		>div.head{
			width: 100%;
			padding-top:15px;
			padding-left:20px;
			h3{
				font-size: 20px;
				line-height: 20px;
				border-left:4px solid $zhutiColor;
				padding-left:8px;
				// font-weight: bold;

			}
		}
		.div_scroll{
			margin-top: 10px;
			height: 470px;
		}

		ul.MoreToLovels{
			width: 100%;
			li{
				width: 100%;
				padding:8px 8px 8px 11px;
				cursor: pointer;
				>a{
					display: block;


				}

				div.imgc{
					width: 117px;
					height: 80px;
					overflow: hidden;
					float: left;
					>img{
						width: 100%;
					}
				}
				div.text{
					float: right;
					width: 103px;
					div.title{
						font-size: 14px;
						@include line-clamp(2);
					}
					div.abost{
						font-size: 12px;
						color: #999999;
						@include line-clamp(2);
					}
				}
			}
			>li:hover{
				div.text{
					div.title{
						color: $zhutiColor;

					}
				}
			}
		}
	}
}


section.DismantlinginfoVideo{
	padding-top:20px;
	padding-bottom:70px;
	div.head{
		font-size: 40px;
		color: #000;
		line-height: 100px;
		@include line-clamp(1);
		// font-weight: bold;
	}
	div.word{
		font-size: 20px;
		color: #555555;
		line-height: 36px;
		// font-weight: bold;
	}
	div.VidCon{
		width: 100%;
		height: 630px;
		margin-top: 20px;
		embed{
			width: 100%;
			height: 100%;
		}
	}

}


section.DismantlingQH{
	background-color:#f0f0f0;
	padding:50px 0;
	div.centerCon{
		height: 560px;
		position: relative;
		padding-top:50px;
		padding-bottom:50px;
		div.infoCn{
			width: 870px;
			height:440px;
			div.Wd{
				width: 315px;
				float: left;
				height: 100%;
				border-right:1px solid #e4e4e4;
				div.hd{
					padding-top: 60px;
					font-size: 30px;
					color: #000000;
					text-transform:uppercase;
					// font-weight: bold;
				}
				div.line{
					width: 27px;
					height: 4px;
					background-color:#000;
					margin-top: 30px;

				}
				p.info{
					margin-top: 30px;
					padding-right:20px;
					font-size: 18px;
					// font-weight: bold;
					line-height: 30px;
				}
			}
			div.imgc{
				width: 535px;
				height: 100%;
				float: right;
				>img{
					width: 100%;
				}
			}
		}

		div.DismantlingQHNav{
			position: absolute;
			width: 116px;
			height: 464px;
			top: 50px;
			right: 0;
			// border:1px solid #000;

			.swiper-container{
				height: 100%;
				width: 100%;
			}

			.QHNavbutton-prev,.QHNavbutton-next{
				position: absolute;
				left: 50%;
				margin-left: -15px;
				width: 30px;
				height: 30px;
				background-repeat:no-repeat;
				background-position: center;
				cursor: pointer;
			}

			.QHNavbutton-prev{
				background-image:url(../images/public/top1.png);
				top: -40px;

			}
			.QHNavbutton-next{
				background-image:url(../images/public/bottom1.png);
				bottom:-40px;

			}

			.butomUc{
				width: 100%;
				height: 100%;
				overflow: hidden;
				cursor: pointer;
				>img{
					width: 100%;
				}

			}
			.active{
				border:2px solid #787878;
			}
		}
	}
}


section.DismantlingBobu{
	padding-top:70px;
	padding-bottom:50px;
	div.DismantlingBobuSwei{
		width: 860px;
		margin: 0 auto;
		height: 485px;
		position: relative;
		.swiper-container{
			height: 100%;
		}
		.swiper-wrapper{
			height: 100%;
		}
		.swiper-slide{
			overflow: hidden;
			height: 100%;
			img{
				width: 100%;
			}
		}
		.BobuSweinext,.BobuSweiprev{
			position: absolute;
			top: 50%;
			margin-top: -35px;
			width: 70px;
			height: 70px;
			background-size:100%;
			margin-top: -35px;
		}
		.BobuSweiprev{
			background-image: url(../images/public/Left1.png);
			left: -70px;
		}

		.BobuSweinext{
			background-image: url(../images/public/Rig1.png);
			right: -70px;

		}
	}


	div.text{
		padding:60px 10px 10px 0;
		font-size: 22px;
		line-height:38px;
		color: #333;
		// font-weight: bold;
		padding-left: 65px;
		span{
		}
	}
}

section.overBot{
	background-color:#eeeeee;
	>img{
		max-width: 100%;
	}
}

section.Summary{
	padding: 20px 0;
	div.head{
		font-size: 32px;
		// font-weight: bold;
		color: #363636;
	}
	div.text{
		margin-top: 15px;
		font-size: 20px;
		color: #555555;
		line-height: 34px;
		// font-weight: bold;
	}


	div.guangg{
		margin-top: 20px;
		img{
			max-width: 100%;
		}
	}
}








section.Sell{
	width:100%;
	padding-top:40px;
	background-color:#f4f4f4;
	min-height:600px;

	div.LCn{
		width: 170px;
		float: left;
		padding-top:40px;
		div.linkImg{
			width: 100%;
			margin-bottom: 30px;
			img{
				width: 100%;
			}
		}
	}


	div.RightCn{
		width: 800px;
		float: right;
		border-left:2px solid #e1e1e1;
		position: relative;
		margin-bottom: 30px;
		min-height: 700px;

		div.top{
			width: 100%;
			padding-left:24px;
			>div.head{
				float: left;
				height: 32px;
				font-size: 32px;
				line-height: 32px;
				// font-weight: bold;
				border-left:3px solid $zhutiColor;
				padding-left:10px;

			}
			div.calendar{
				float: right;
				height: 50px;
				position: relative;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				div.year{
					width: 100%;
					height: 24px;

					span{
						display: inline-block;
						text-align: center;
						line-height: 22px;
						height: 100%;
						font-size: 14px;
						font-family: 'number';
						// font-weight: bold;
						margin:0 3px;
						cursor: pointer;
						>i{
							font-size: 12px;
						}
					}
					span.befoer,span.center,span.after{
						width: 60px;
						border:1px solid $zhutiColor;
						color: $zhutiColor;

					}
					span.center{
						background-color: $zhutiColor;
						color: #fff;
					}
				}


				div.month{
					width: 188px;
					background-color:#fff;
					position: absolute;
					top: 45px;
					left: 50%;
					margin-left: -94px;
					padding:10px;
					display: none;
					z-index: 999;
					div.head{
						text-align: center;
						font-size: 14px;
						border-bottom:1px solid #e8e8e8;
						padding-bottom:2px;
						>span.ll{
							display: inline-block;
							float: left;
							width: 20px;
							height: 20px;
							cursor: pointer;
							background-color:#eee;
							border-radius:3px;
							>i{
								font-size: 12px;
								line-height: 24px;
							}
						}
						>span.rr{
							display: inline-block;
							float: right;
							width: 20px;
							height: 20px;
							cursor: pointer;
							background-color:#eee;
							border-radius:3px;
							>i{
								font-size: 12px;
								line-height: 4px;
							}
						}
					}

					ul.nav{
						width: 100%;
						li{
							width: 14.285%;
							height: 20px;
							font-size: 12px;
							line-height: 20px;
							text-align: center;
							color: #363636;
							float: left;
							// font-weight: bold;
						}
					}
					ul.monthCobn{
						width: 100%;
						margin-top: 4px;
						border-top:1px solid #e8e8e8;
						border-left:1px solid #e8e8e8;
						li{
							width: 14.285%;
							height: 20px;
							font-size: 12px;
							line-height: 20px;
							text-align: center;
							color: #363636;
							float: left;
							// font-weight: bold;
							border-right:1px solid #e8e8e8;
							border-bottom:1px solid #e8e8e8;
							cursor: context-menu;
						}
						li.none{
							color: #d8d8d8;
						}
						li.have{
							color: #000;
							cursor: pointer;
						}
						li.current{
							color: $zhutiColor;
							cursor: pointer;
						}

					}
				}
			}


			div.calendar:hover{
				div.month{
					display: block;
				}
			}
		}
	}
	div.RightCn:before{
		display: block;
		content:'';
		width: 10px;
		height: 10px;
		background-color:#e1e1e1;
		position: absolute;
		top:0;
		left: -6px;
		border-radius:50px;
	}
	div.RightCn:after{
		display: block;
		content:'';
		width: 10px;
		height: 10px;
		background-color:#e1e1e1;
		position: absolute;
		bottom:0;
		left: -6px;
		border-radius:50px;
	}
}



ul.SellLs{
	width:100%;
	padding-left:30px;
	>li{
		padding-top: 20px;
		div.Time{
			width: 100%;
			position: relative;
			span.yuan{
				width: 20px;
				height: 20px;
				background-color:#fff;
				display: block;
				padding: 6px;
				border-radius:50px;
				overflow: hidden;
				position: absolute;
				top: 50%;
				left: -40px;
				margin-top: -10px;
				>span.dian{
					display: block;
					width: 100%;
					height: 100%;
					background-color:$zhutiColor;
					border-radius:50px;

				}
			}
			div.Con{
				width: 130px;
				height: 30px;
				background-color:#fff;
				line-height: 30px;
				// font-weight: bold;
				color: #444444;
				font-family: 'number';
				padding-left:15px;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
				position: relative;
			}
			div.Con:after{
				content:'';
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				top: 10px;
				left: -5px;
				background-color:#fff;
				transform: rotate(45deg);


			}

		}

	}
	>li:nth-child(1){border-top:1px solid #e3e3e3;}
}



ul.SellLsCnNi{
	width:100%;
	margin-top:20px;
	>li{
		float: left;
		width: 240px;
		height: 224px;
		background-color:#fff;
		margin-right: 24px;
		margin-bottom: 60px;
		box-shadow:2px 2px 5px rgba(0, 0, 0, 0.1);
		>a{
			display: block;
			width: 100%;
			height: 100%;
			div.imgC{
				width: 100%;
				height: 180px;
				overflow: hidden;
				>img{
					width: 100%;
					transition: all 0.7s ;
					transform: scale(1);
				}
			}
			div.title{
				width: 100%;
				padding:5px 15px;
				font-size: 14px;
				color: #010101;
				font-family: 'English';
			}
		}
		>a:hover{
			div.imgC{
				>img{
					transform: scale(1.1);
				}
			}
		}
	}
	>li:nth-child(3n){margin-right:0;}
}


div#logoin{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	background-color:rgba(0,0,0,0.7);
	display:none;
	div.logoinCon{
		width: 600px;
		height: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -300px;
		margin-top: -200px;
		background-color:#fff;
		border-radius:3px;
		border-bottom:1px solid #aeaeae;
		border-left:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		border-top:4px solid #be0c24;
		padding-top:70px;


		div.exit{
			width: 26px;
			height: 26px;
			text-align: center;
			line-height: 26px;
			color: #999;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}

		>a{
			display: block;
			width: 300px;
			height: 60px;
			border:1px solid #aeaeae;
			border-radius:3px;
			margin:0 auto 24px;
			line-height: 60px;
			padding-left: 95px;
			// font-weight: bold;
			color: #787878;
			background-repeat:no-repeat;
			background-size: 40px 40px;
			background-position:50px 10px;
		}
		>a.qq{background-image:url(../images/public/QQ.png);}
		>a.wx{background-image:url(../images/public/WX.png);}
		>a.wb{background-image:url(../images/public/wb.png);}
	}
}


div#CnAlert{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	padding-top:350px;
	text-align:center;
	z-index: 999;
	display:none;
	>span{
		display: inline-block;
		padding:0px 30px;
		height: 60px;
		background-color: rgba(0,0,0,0.7);
		border-radius:30px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		line-height: 60px;
	}
}


#bdshare_weixin_qrcode_dialog ,#bdshare_weixin_qrcode_dialog *{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

div#advertisementWindow{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	background-color:rgba(0,0,0,0.7);
	div.conImg{
		width: 1000px;
		position: absolute;
		top:50%;
		left: 50%;
		margin-left: -500px;
		margin-top: -310px;
		border-radius:20px;
		height: 620px;
		overflow: hidden;
		border: 2px solid $zhutiColor;
		>a{
			display: block;
			width: 100%;
			>img{
				max-width: 100%;
			}
		}
		div.cood{
			position: absolute;
			top: 10px;
			right: 10px;
			color: #fff;
			cursor: pointer;
			>i{
				font-size: 26px;
			}
		}
	}
}

section.VideoDescription{
	div.woed{
		width: 710px;
		padding-top:30px;
		color: #666;
		font-size: 14px;
		line-height: 30px;
	}
}