<!DOCTYPE html>
<html lang="zh-CN">
{include file='common/head' /}
<body>
<div class="videoCon" id="videoCon">

		<div class="Cn" id="video_embed">

			<div class="guanbi" id="guanbi"><i class="iconfont">&#xe614;</i></div>
			

		</div>
	</div>
{include file='common/ad'/}
{include file='common/header' /}
<!-- 首页弹出广告 -->
{include file='common/index_big_news' /}
 <!-- 轮播 -->
{include file='common/slide' /}
<!-- 专题 -->
{include file='common/index_special' /}
<!-- section精选视频 -->
 {include file='common/index_video_selection' /}
<!-- section精选视频 end -->

<!-- section广告 -->
{include file='common/index_digger' /}
<!-- section广告 -->

<!-- section拆解评测 -->
	
{include file='common/index_chaijie_pingce' /}
	<!-- section拆解评测 end -->

<!-- 页脚 -->
{include file='common/footer' /}
<script type="text/javascript" src="{:get_root()}/static/index/new/js/index.js"></script>