<head>
	<meta charset="UTF-8">
	<title>正大制药-{notempty name='category'}{$category.title} {else /}首页{/notempty}</title>
	<meta name=”renderer” content=”webkit”>
	<meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1” />
	<script type="text/javascript" src="{:get_root()}/static/index/new/script/Adaptive/Adaptive.js"></script>
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/public.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/communal.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/min1920.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/min750-max1336.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/min750-max1920.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/style/max750.css">

	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/script/swiper/swiper3.06.min.css">
	<link rel="stylesheet" type="text/css" href="{:get_root()}/static/index/new/script/swiper/animate.min.css">

	<script type="text/javascript" src="{:get_root()}/static/index/new/script/jquery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/new/script/jquery/countUp.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/new/script/jquery/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/new/script/swiper/swiper.min.js"></script>
	<script type="text/javascript" src="{:get_root()}/static/index/new/script/swiper/swiper.animate1.0.2.min.js"></script>

</head>