	<header class="headerCn" id="header">
		<div class="Content">
			<a class="logo" href="#"><img src="{:get_root()}/static/index/new/images/index_03.png" alt=""></a>
				{ebcms:nav mark='topnav' return='nav' pid='0' tree='1' /}
			<div class="Rn">
				<ul class="nav">
	             {foreach name="nav" item="vo" }
	            	 <li><a class="active" href="{$vo.url}">{$vo.title}</a></li>
	             {/foreach}
				</ul>

				<div class="functionCon">
					<div class="Togle"><span>中</span><span class="line">en</span></div>
					<div class="searchBtn"><span></span></div>
				</div>
				<div class="pullDown">
					<ul class="navOne">
						<li class="active"><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
					</ul>
					<ul class="navTwo">
						<li class="active"><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
						<li><a href="#" class="pull">Open New Page</a></li>
					</ul>

				</div>

			</div>

			<div class="MRn">
				<span class="btn" id="toggleNav"><i class="iconfont">&#xe61a;</i></span>
			</div>


		</div>
		<div class="Mnav">
			<div class="MnCn">
				<div class="LCn">
					<div class="MSearch">
						<input type="text" name="" placeholder="搜索">
						<div class="btn"><i class="iconfont">&#xe630;</i></div>
					</div>

					<ul class="list">
						<li class="active"><a href="index.html">home</a></li>
						<li><a href="aboutUs.html">aboutus</a><div class="ToNavTwo"><i class="iconfont">&#xe62a;</i></div></li>
						<li><a href="research.html">research</a><div class="ToNavTwo"><i class="iconfont">&#xe62a;</i></div></li>
						<li><a href="investors.html">investors</a><div class="ToNavTwo"><i class="iconfont">&#xe62a;</i></div></li>
						<li><a href="product.html">product</a><div class="ToNavTwo"><i class="iconfont">&#xe62a;</i></div></li>
						<li><a href="newsroom.html">newsroom</a><div class="ToNavTwo"><i class="iconfont">&#xe62a;</i></div></li>
						
					</ul>


					<div class="lange">
						<span>En</span>
						<span>中文</span>
					</div>
				</div>

				<div class="RCn">
					<ul class="One">
						<li>
							<div class="jian"><i class="iconfont">&#xe62a;</i></div>
							<a href="#">home</a>
							<ul class="Two">
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
							</ul>
						</li>
						<li>
							<div class="jian"><i class="iconfont">&#xe62a;</i></div>
							<a href="#">home</a>
							<ul class="Two">
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
							</ul>
						</li>
						<li>
							<div class="jian"><i class="iconfont">&#xe62a;</i></div>
							<a href="#">home</a>
							<ul class="Two">
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
							</ul>
						</li>
						<li>
							<div class="jian"><i class="iconfont">&#xe62a;</i></div>
							<a href="#">home</a>
							<ul class="Two">
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
								<li><a href="#">home</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<form class="searchCon">
			<div class="Con">
				<div class="form">
					<span class="close"><i class="iconfont">&#xe603;</i></span>

					<button type="button">搜索</button>

					<input type="text" name="">

				</div>
			</div>
		</form>
	</header>
