		{ebcms:recommend mark='index_special' limit='5' return='data'/}
		<!-- 专题新闻 -->
		<div class="HomeSpecialNews">
			<div class="Content">
				<div class="moduleTitle">专题<span>新闻</span></div>

						<div class="HomeSpecialNewsCn">
					{foreach name='data' item='vo'}
						{eq name='vo.locked' value='1'}
						
							<div class="LCn">
								<a href="{$vo.url}" class="imgC">
									<img src="{$vo.thumb|thumb=0,0}"/>
									<div class="time">
										<div class="day">28</div>
										<div class="date">2017-08</div>
									</div>
		
								</a>
		
								<div class="tit">{$vo.title}</div>
								<p class="describe">{$vo.description}</p>
							</div>
						{/eq}
						{/foreach}
							<ul class="RCn">
							{foreach name='data' item='vo'}
								{eq name='vo.locked' value='0'}
									<li>
										<a href="{$vo.url}">
											<div class="time">
												<div class="day">20</div>
												<div class="date">2017-08</div>
											</div>
											<div class="word">
												<h3>{$vo.title}</h3>
												<p class="describe" >{$vo.description}</p>
											</div>
										</a>
									</li>
								{/eq}
								
							{/foreach}
							</ul>
					</div>
				<div class="PublicMoreCenterCn">
					<a href="#">更多</a>
				</div>
			</div>
		</div>
		<!-- 专题新闻 End -->