{ebcms:recommend mark='index_slide' limit='3' return='data'/}
{notempty name='data'}

<!-- bannerHome -->
		<div class="HomeBannerCon">
			<div class="swiper-container" id="HomeBanner">
				<div class="swiper-wrapper">
				
				{foreach name='data' item='vo'}
	                <div class="swiper-slide">
						<img src="{$vo.thumb|thumb=0,0}">
						<div class="wordCn">
							<div class="word">
								<div class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">{$vo.title}</div>
								<div class="dist ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">{$vo.description}</div>
								<a class="link ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s" href="{$vo.url}">查看更多</a>
							</div>
						</div>
					</div>
	            {/foreach}
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination">

				</div>

			</div>
		</div>

		<!-- bannerHome End -->
{/notempty}