<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">查看操作详情</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" style="width:100%;">
                <tr>
                    <td>操作人</td>
                    <td>{$oplog.user.nickname}</td>
                </tr>
                <tr>
                    <td>请求地址</td>
                    <td>{$oplog.url}</td>
                </tr>
                <tr>
                    <td>操作说明</td>
                    <td>{$oplog.title}</td>
                </tr>
                <tr>
                    <td>操作id</td>
                    <td>{$oplog.ids}</td>
                </tr>
                <tr>
                    <td>操作时间</td>
                    <td>{$oplog.create_time}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">{$oplog.request|p}</div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>