{php}$namespace = ns();{/php}
<div class="layout">
    <div class="layout-left" style="width: 20%;margin-right: -20%;">
        <div class="box" id="{$namespace}type_box"></div>
        {include file='recommend/recommendtype'/}
    </div>
    <div class="layout-rightbox">
        <div class="layout-right" style="height:100%;overflow:auto;margin-left: 20%;">
            <div class="box" id="{$namespace}_box"></div>
            {include file='recommend/recommend'/}
        </div>
    </div>
</div>