{php}$namespace = ns();{/php}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">用户信息</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{$user.avatar|thumb=50,50,3}" alt="...">
                        </a>
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading">{$user.nickname} <span class="text-danger">(ID:{$user.id})</span></h4>
                        <p>{$user.email}</p>
                        </div>
                    </div>
                    <p>{$user.motto}</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><b>登录系统：</b>{$user.login_times} 次</li>
                    <li class="list-group-item"><b>上一次登录时间：</b>{$user.login_time|date='Y-m-d H:i:s',###}</li>
                    <li class="list-group-item"><b>上一次登录ip：</b>{$user.login_ip}</li>
                    <li class="list-group-item"><b>注册时间：</b>{$user.create_time|date='Y-m-d H:i:s',###}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>